<h3>Website Classifications</h3>


<div   style="float:left;background-color: #4cbc3b;width : 680px;padding : 10px;height : 100%">
    <h3>Classification Sources</h3>
    <table border='1' cellpadding='5'>
        <tr>
            <th>Type</th>
            <th>Source</th>
        </tr>
        <tr data-ng-repeat='type in types'>
            <td>{{type.name}}</td>
            <td>
                <select data-ng-model='type.classificationOriginID' data-ng-change='changeOrigin(type)' class="input-xxlarge">
                    <option data-ng-repeat='origin in type.origins' data-ng-selected="type.classificationOriginID == origin.id" value='{{origin.id}}'>{{origin.name}}</option>
                </select>
            </td>        
        </tr>
    </table>

</div>

<div  style="float:left;background-color: #7aba7b;width : 670px;padding : 10px;height : 100%">
    <h3>Classifications</h3>

    <div ng-repeat="t in listClassifications">
        <h4>{{t.type}}</h4>
        <table cellpadding="5" width="100%">
            <tr ng-repeat="c in t.data">
                <td><button type="button" ng-click="unlinkClassification(c.id)" ng-disabled="processing"> X </button></td>
                <td>
                    <b>{{c.source}}</b> : 
                    {{c.lvl0Name}} - {{c.lvl1Name}} - {{c.lvl2Name}} - {{c.lvl3Name}} - {{c.lvl4Name}} - {{c.lvl5Name}}
                </td>
            </tr>
        </table>
    </div>

    <br />


    <button type="button" ng-click="toggleAddClassification()" ng-show="!addClassification"  ng-disabled="processing">
        Add a classification
    </button>
    <div ng-show="addClassification" class="form-horizontal form-horizontal-normal">
        <br />
        
        <horizontal-form label="Classification Type" help="">
            <select data-ng-model="type" placeholder='choose a type' data-ng-change='setType(type)'>            
                <option data-ng-repeat='t in types' value='{{t.id}}'>{{t.name}}</option>
            </select>
        </horizontal-form>




        <classselect nt="nt" ns="ns" wid="wid" ncid="ncid" />

        <button ng-disabled="ncid <= 0" type="button" ng-click="linkClassification()" > Add </button>
        <button  type="button"   ng-click="toggleAddClassification()" > Cancel </button>
    </div>

</div>

