<style type="text/css">
    textarea{
        width : 350px !important;
        height : 180px !important;
        background-color : #ffffcc;
        font-size : 11px;
    }
    span.param{
        background-color: #ccffcc;
        margin : 5px;
        padding : 5px;
        border : 1px solid #ebebeb;
        float:left;
    }
    span.func{
        background-color: #ccffff;
        margin : 5px;
        padding : 5px;
        border : 1px solid #ebebeb;
        float:left;
    }
    
</style>
<h4>Available Functions</h4>
<span ng-repeat="f in availableVariables['availableFunctions']" class="func">{{f}}</span>
<div style="clear:both"></div>
<h4>Available Parameters</h4>
<span ng-repeat="f in availableVariables['availableParams']" class="param">{{f}}</span>
<div style="clear:both"></div>


<h2>Seo Pages</h2>

<div ng-repeat='seo in seoPageData'>
    <h3>{{seo.urlName}}</h3>
    <!--<b><u>Special Function :</u> {{seo.specialFunction}}</b>-->
    <table border="1" cellpadding="5">
        <tr>
            <th>type</th>
            <th>Title</th>
            <th>Description</th>
            <th>CustomText</th>
            <th></th>
        </tr>
        <tr>
            <td>default</td>
            <td>{{seo.defaultTitle}}</td>
            <td>{{seo.defaultDescription}}</td>
            <td>{{seo.defaultCustomtext}}</td>
            <td></td>
        </tr>
        <tr>
            <td>custom</td>
            <td>
                <textarea ng-model='seo.title' ></textarea>
            </td>
            <td>
                <textarea ng-model='seo.description' ></textarea>
            </td>
            <td>
                <textarea ng-model='seo.customText' ></textarea>
            </td>
            <td>
                <button type='button' ng-click='save(seo)'>Save</button>                
            </td>
        </tr>
    </table>
</div>

