<h3>Test URLs</h3>
<a href="{{website.url}}" target="_blank">Production</a><br />
<a href="http://dev{{website.id}}" target="_blank">Development</a><br />

<h3>Development & Maintenance modes </h3>
<table border="1" cellpadding="5">
    <tr>
        <td>Maintenance Mode</td>
        <td><input type="checkbox" ng-model="option.prodMaintenanceMode" /></td>
    </tr>
    <tr>
        <td>Preprod Development Mode</td>
        <td><input type="checkbox" ng-model="option.preprodDevMode" /></td>
    </tr>
    <tr>
        <td>Preprod URL Development Mode</td>
        <td><input type="checkbox" ng-model="option.preprodUrlDevMode" /></td>
    </tr>
</table>
<button type="button" class="btn btn-primary" ng-click="save(option)">Save changes</button>

<hr />
<h3>Sitemap</h3>

<table border="1" cellpadding="5">
    <tr>
        <td>Include search urls </td>
        <td><input type="checkbox" ng-model="option.sitemapSearchURLs" /></td>
    </tr>
    <tr>
        <td>Include job urls </td>
        <td><input type="checkbox" ng-model="option.sitemapJobURLs" /></td>
    </tr>
    <tr>
        <td>search urls maximum depth</td>
        <td><input type="number" ng-model="option.sitemapSearchURLDepth" class="input input-mini" /></td>
    </tr>
    <tr>
        <td>Job max age in days </td>
        <td><input type="number" ng-model="option.sitemapJobURLMaxDays" class="input input-mini" /></td>
    </tr>
    
    <tr>
        <td>Ping to search engines </td>
        <td><input type="checkbox" ng-model="option.sitemapPing"  /></td>
    </tr>
</table>
<button type="button" class="btn btn-primary" ng-click="save(option)">Save changes</button>
<hr />
<h3>Expired Ratio / NbJobs Ratio for Spiders</h3>

<table border="1" cellpadding="5">
    <tr>
        <td>Enable expired ratio </td>
        <td><input type="checkbox" ng-model="option.expiredRatioEnable" /></td>
    </tr>
    <tr>
        <td>Expired Ratio</td>
        <td><input type="text" class="input input-mini" ng-model="option.expiredRatio" /></td>
    </tr>
</table>
<button type="button" class="btn btn-primary" ng-click="save(option)">Save changes</button>
<hr />
<h3>Layout Global - all pages are concerned</h3>
<table border="1" cellpadding="5">
    <tr>
        <td>Site width</td>
        <td>
            <select ng-model="option.width">
                <option ng-selected="w==option.width" ng-repeat="w in possibleWidths" value="{{w}}">{{w}}</option>
            </select> 
        </td>
    </tr>
    <tr>
        <td>Gutter</td>
        <td><input type="number" ng-model="option.gutter" min="5" /></td>
    </tr>
    <tr>
        <td>Nb Columns</td>
        <td><input type="number" ng-model="option.nbColumn" min="12" /></td>
    </tr>
</table>
<button type="button" class="btn btn-primary"  ng-click="save(option)">Save changes</button>
<hr>
<h3>HTML source !==</h3>
<table border="1" cellpadding="5">
    <tr>
        <td>CSS path - format : '/styles/'</td>
        <td>
            <input type='text' ng-model="option.cssFolderName" />
        </td>
    </tr>
    <tr>
        <td>JS path - format : '/js/'</td>
        <td><input type="text" ng-model="option.jsFolderName" /></td>
    </tr>
    <tr>
        <td>IMG path - format : '/images/'</td>
        <td><input type="text" ng-model="option.imgFolderName"  /></td>
    </tr>
</table>


<button type="button" class="btn btn-primary"  ng-click="save(option)">Save changes</button>
<hr />


<h3>Constant Definition</h3>
<table border="1" cellpadding="5">
    <tr>
        <td>Nb results per page</td>
        <td><input type="number" ng-model="option.nbResultsPerPage" min="5"/></td>
    </tr>
    <tr>
        <td>Nb items per refine</td>
        <td><input type="number" ng-model="option.nbRefineItems" min="3" /></td>
    </tr>
    
</table>
<button type="button" class="btn btn-primary"  ng-click="save(option)">Save changes</button>
