<style type="text/css">
    .htaccess{
        width : 90%;
        padding : 10px;
        height : 500px;
        white-space: pre;
    }
    .prod{
        background-color:#000;
        color : white;    
        overflow : auto;
    }
    .dev{
        background-color: #000;
        color : #ffff33;        
    }
    #diffDIV{
        text-align : left;
        width : auto;
        padding : 0px;
        height : 500px;
        overflow : auto;
        border : 1px solid grey;
    }
    
</style>
<h3>Rewrite Rules : </h3>
<p>
    Last Production RewriteRule Generation Date : <span>{{options.lastHtAccessGenerationDate}}</span>
</p>
<br />
<ul class="nav nav-pills" >

    <div class="btn-group">
        <button type="button" class="btn " ng-class="{active: currentView=='live'}"   ng-click="changeHtAccess('live')">Currently Live</button>
        <button type="button" class="btn" ng-class="{active: currentView=='generated'}"  ng-click="changeHtAccess('generated')">Generated</button>
        <button type="button" class="btn" ng-class="{active: currentView=='diff'}"  ng-click="diffUsingJS()">Diff</button>
    </div>
    <button class="btn  btn-info" type="button" ng-click="reload()">Reload</button> 
    <button class="btn btn-danger" ng-class="{active: currentView!='diff'}"    type="button" ng-click="overwrite()">Save - Overwrite</button>

</ul>

<div class="htaccess prod" ng-show="currentView=='live'">{{htprod}}</div>
<textarea ng-model="htdev" class="htaccess dev" ng-show="currentView=='generated'">{{htdev}}</textarea>
<div class="htaccess" ng-show="currentView=='diff'" id="diffDIV"></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js"></script>
<script type="text/javascript" src="/lib/diff/diffview.js"></script>
<script type="text/javascript" src="/lib/diff/difflib.js"></script>