<style  type="text/css">
    input, select{
        width : 350px;
    }
    label{
        font-weight : bold;
        font-size  : 14px;
        text-decoration : underline;
    }
    
</style>





<div style="float:left;background-color: #EBEBEB;width : 400px;padding : 10px;height : 100%">
    <h3 ng-show="isNew" >Website Creation form</h3>
    
    
    <h3 ng-show="!isNew" >Website Edit</h3>
    <label ng-show="!isNew" >id</label>
    {{w.id}}
    <form name="myForm" >
        
        <label>Website name</label>
        <input type="text" name="websiteName" 
               ng-model='w.websiteName' ng-disabled='processing' ng-required="true" ng-minlength="5"/>
        

        <label>URL</label>
        <input type="url" name="url"
               ng-model='w.url' ng-disabled='processing'  ng-required="true"/>

        <label>IP</label>
        <input  type="text" name="IP"
                ng-model='w.IP' ng-disabled='processing' />

        <label>maxJobDays</label>
        <input type="number" name="maxJobDays"
               ng-model="w.maxJobDays"  ng-disabled='processing'  ng-required="true" min="7" max="60" />

        <label>Facebook id</label>
        <input type="text" name="facebookPageID"
               ng-model='w.facebookPageID' ng-disabled='processing' />

        <label>Piwik id</label>
        <input type="text" name="piwikID"
               ng-model='w.piwikID' ng-disabled='processing' />

        <label>g+ ID</label>
        <input type="text" name="googlePlusID"
               ng-model='w.googlePlusID' ng-disabled='processing' />

        <label>bing site key</label>
        <input type="text" name="bingKey"
               ng-model='w.bingKey' ng-disabled='processing' />

        <label>google webmaster key</label>
        <input type="text" name="googleSiteVerificationID"
               ng-model='w.googleSiteVerificationID' ng-disabled='processing' />

        <label>linkedIn ID</label>        
        <input type="text" name="linkedInID"
               ng-model='w.linkedInID' ng-disabled='processing' />
        
        <br />
        <div ng-show="myForm.$invalid" style="background-color: #eed3d7;color: brown;padding : 10px;">
            <label ng-repeat="error in myForm.$error.required">
                '{{error.$name}}' is required
            </label>
            <label ng-repeat="error in myForm.$error.url">
                '{{error.$name}}' is not a valid url
            </label>
            <label ng-repeat="error in myForm.$error.minlength">
                '{{error.$name}}' is  too short
            </label>
            <label ng-repeat="error in myForm.$error.maxlength">
                '{{error.$name}}' is  too long
            </label>
            <label ng-repeat="error in myForm.$error.email">
                '{{error.$name}}' is not a not a valid email
            </label>
        </div>
        

        <center>
            <button ng-show="!isNew"  type="button" ng-disabled="myForm.$invalid || processing" ng-click="save(w)">Save</button>
            <button ng-show="!isNew"  type="button" ng-disabled="myForm.$invalid || processing" ng-click="remove(w)">Delete</button>
            <button ng-show="isNew"  type="button" ng-disabled="myForm.$invalid" ng-click="create(w)">Create</button>
        </center>
    </form>


</div>


<div  ng-show="!isNew" style="float:left;background-color: khaki;width : 370px;padding : 10px;height : 100%">
    <h3>Job Origins</h3>
    <div data-ng-repeat="o in availableOrigins">
        <input type="checkbox" data-ng-model="o.set" data-ng-change="updateOrigin(o)"/> {{o.originName}}
    </div>
    <br />
    <button data-ng-click="updateIndexer()" class="btn btn-default" type="button">Update Index</button>
</div>
