<style type="text/css">
    .color {
        background-color: #fff;
        height: 40px;
        width: 40px;
        border: 1px solid #ccc;
        
    }
    

    .bordered {
        border-top: 1px solid #ccc;
    }

   
    #colorChooser{
        position : fixed;
        background-color : #EBEBEB;
        border : 1px solid #757575;
        display : none;
        right : 20px;
        top : 210px;
        width : 720px;
    }
    #colors{
        position : fixed;
        border : 1px solid #7a7a7a;
        width : 145px;
        right : 740px;
        top : 210px;
        display : none;
        padding : 0px;
    }
    #colors .color{
        margin : 0;padding : 0px;
        cursor:pointer;
        width:70px;height : 20px;
        float:left;    
        border : 0px;
    }
    #colors .text{
        margin : 0;padding : 0px;
        width:70px;height : 20px;
        float:left;     
        text-align : center;
    }
    .colorPreview{
        display:inline;
        padding : 1px;
        padding-left : 40px;
        margin-right : 5px;
        border : 1px solid #000;
        margin-top : 5px;
    }
   
    .variableEdit{
        background-color:#FFFFFF;
        border : 1px dotted #7a7a7a;
        padding : 5px;
        display:none;        
    }
    input[type=number]{
        text-align : right;
        padding : 0px;
        width : 50px;
        padding-right : 5px;
    }
   
</style>


<ul class="nav nav-tabs" data-ng-repeat="(name,page) in fondations" style="float:left;">
    <li ng-class="{active: currentPage==name}" >
        <a ng-click="setCurrentPage(name)">{{name}}</a>
    </li>  
</ul>
<div style="clear:both"></div>

<div ng-repeat="(name,page) in fondations" style="float:left;">
    <div ng-show="currentPage==name" style="padding : 5px;width : 100%;border-top : 1px solid #EBEBEB">
        <div ng-repeat="(type,element) in page" id="{{type}}_{{name}}" ngclass="{mainColor}">
            <h3>{{type}}</h3>
            
            <span  data-ng-repeat="list in element">
                <scssinput data="list" clipboard="clipboard" types="types"  primarycolorchoices='primarycolorchoices' fontfamilies='fontfamilies'></scssinput>
            </span>
            
        </div>
        
        
    </div>
</div>
<div style="clear:both"></div>

<center  data-ng-show="!loaded" style="margin-top : 200px;">
    <img src="http://jscommon:8181/css/images/preload.gif" style="" />
</center>

<div id='colors'></div>
<div id="colorChooser" class="span10 " >
        <div class="row">
            <div class="span1 " >
                <div class="color" id="hex-box">
                </div>
            </div>
            <div class="span7">
                <b>Important : </b> <Button type="button" data-ng-click="saveScheme()" class="btn btn-link">Save Color Scheme (This action cannot be undone)</button>                
            </div>
            <div class='span1' onclick='$("#colorChooser").hide();$("#colors").hide()'>
                [ Close ]
            </div>
        </div>
        <div class="row">&nbsp</div>
        <div class="row">
            <div class="span2">
                <strong class="span1 pull-left">Hue</strong>
            </div>
            <div id="hue-slider" class="span6"></div>                
            
        </div>
        <div class="row">&nbsp</div>
        <div class="row">
            <div class="span2">
                <strong class="span1 pull-left">Saturation</strong>
            </div>
            <div id="sat-slider" class="span6"></div>                            
        </div>
        <div class="row">&nbsp</div>
        <div class="row">
            <div class="span2">
                <strong class="span1 pull-left">Value</strong>
            </div>
            <div id="val-slider" class="span6"></div>                            
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="span2"><strong class="span1 pull-left">Hex</strong>
                <div class="input-append">
                    <input id="hex" type="text" name="hex" maxlength="7" class="span1">
                    <button type="button" id="set-hex" class="btn">Set</button>
                    <button type="button" id="paste-hex" class="btn">Paste</button>
                </div>
            </div>
            <div class="span7">
                <div class="span1 inline">
                    <strong>Lightened </strong>
                    <div id="lightened" class="color"></div>
                </div>
                <div class="span1 inline">
                    <strong>Darkened</strong>
                    <div id="darkened" class="color"></div>
                </div>
                <div class="span1 inline">
                    <strong>Desaturated</strong>
                    <div id="desaturated" class="color"></div>
                </div>
                <div class="span1 inline">
                    <strong>Saturated</strong>
                    <div id="saturated" class="color"></div>
                </div>
                <div class="span1 inline">
                    <strong>GreyScaled</strong>
                    <div id="greyscaled" class="color"></div>
                </div>
                
                
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="span10">
                <strong class="span1">Scheme</strong>
            </div>
        </div>
        <div class="row">
                <div data-toggle="buttons-radio" class="span10 btn-group">
                    <button type="button"  data-ng-click="setScheme('complement')" ng-class="{btn:true,active:schemeName=='complement'}">Complement</button>
                    <button type="button"  data-ng-click="setScheme('triad')" ng-class="{btn:true,active:schemeName=='triad'}">Triade</button>
                    <button type="button"  data-ng-click="setScheme('tetrad')" ng-class="{btn:true,active:schemeName=='tetrad'}">Tetrade</button>
                    <button type="button"  data-ng-click="setScheme('square')" ng-class="{btn:true,active:schemeName=='square'}">Square</button>
                    <button type="button"  data-ng-click="setScheme('monochromatic')" ng-class="{btn:true,active:schemeName=='monochromatic'}">Monochromatic</button>
                    <button type="button"  data-ng-click="setScheme('analogous')" ng-class="{btn:true,active:schemeName=='analogous'}">Analogic</button>
                    <button type="button"  data-ng-click="setScheme('split')" ng-class="{btn:true,active:schemeName=='split'}">Split Complement</button>
                </div>
            
        </div>
        <div class="row">&nbsp;</div>
        
        <div class="row">
            <div class="span10">
                <strong class="span3">Usefull data</strong>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <img src="/css/images/warm-cool.gif" />
                <a href="http://www.tigercolor.com/color-lab/color-theory/color-theory-intro.htm" alt="tiny-color has been rewritten usu\in these data" target="_blank">color infos</a>
            </div>
        </div>
        <div class="row">&nbsp;</div>
</div>


<!--

http://brianhann.com/color-scheme-js/

-->