<h2>Layout Definition</h2>
<br />

<div style="width : 1200px;height : auto;float:left;background-color:#EBEBEB;" id="canvas">
    
</div>
<div style="clear:both"></div>
<br /><br />
<button type="button" ng-click="addRowDocument()">Add a Row</button>