
<div style="width : 1200px;height : auto;float:left;background-color:#EBEBEB;" id="canvas">
    
</div>



<div style="clear:both"></div>
<br /><br />
<button type="button" data-ng-click="addRowDocument()">Add a Row</button>
<button type="button" data-ng-click="save()">SAVE</button>

<ul id="context1" class="dropdown-menu">
    <li><a ng-click="increaseWidth()">Width ++</a></li>
    <li><a ng-click="decreaseWidth()">Width --</a></li>
    <li><a ng-click="insertAfter()">Add a column</a></li>
    <li><a ng-click="addRow()">Add a row</a></li>
    <li><a ng-click="remove()">Delete</a></li>
    <li class="divider"></li>
    <li>
        <div style="padding : 10px;">
            Width : {{activeContainer.exactWidth}} px<br />
            Nb Column : {{activeContainer.nbColumn}}<br />
            ID : {{activeContainer.id}}<br />
        </div>
        
        
    </li>
</ul>