<style type="text/css">
    .color {
        background-color: #fff;
        height: 40px;
        width: 40px;
        border: 1px solid #ccc;

    }


    .bordered {
        border-top: 1px solid #ccc;
    }


    #colorChooser{
        position : fixed;
        background-color : #EBEBEB;
        border : 1px solid #757575;
        display : none;
        right : 20px;
        top : 210px;
        width : 720px;
    }
    #colors{
        position : fixed;
        border : 1px solid #7a7a7a;
        width : 145px;
        right : 740px;
        top : 210px;
        display : none;
        padding : 0px;
    }
    #colors .color{
        margin : 0;padding : 0px;
        cursor:pointer;
        width:70px;height : 20px;
        float:left;
        border : 0px;
    }
    #colors .text{
        margin : 0;padding : 0px;
        width:70px;height : 20px;
        float:left;
        text-align : center;
    }
    .colorPreview{
        display:inline;
        padding : 1px;
        padding-left : 40px;
        margin-right : 5px;
        border : 1px solid #000;
        margin-top : 5px;
    }

    .variableEdit{
        background-color:#FFFFFF;
        border : 1px dotted #7a7a7a;
        padding : 5px;
        display:none;
    }
    input[type=number]{
        text-align : right;
        padding : 0px;
        width : 50px;
        padding-right : 5px;
    }

</style>

<h3>Widget SCSS</h3>
<center  data-ng-show="!loaded" style="margin-top : 200px;">
    <img src="http://jscommon:8181/css/images/preload.gif" style="" />
</center>

<ul class="nav nav-tabs" data-ng-repeat="(name,data) in wvariables" style="float:left;" data-ng-click='changeUrlID(name)'>
    <li data-ng-class="{active: currentPage==name}" >
        <a data-ng-click="setCurrentPage(name)">{{name}}</a>
    </li>
</ul>
<div style="clear:both"></div>

<div data-ng-repeat="(name,data) in wvariables2" style="float:left;">
    <div data-ng-show="currentPage==name" style="padding : 5px;width : 100%;border-top : 1px solid #EBEBEB">
        <div data-ng-repeat="(widgetName,elementdata) in data"  data-ngclass="{mainColor}">
            <h3>{{widgetName}}</h3>
            <div data-ng-show="keyLength(widgetName)>0">
                Load SCSS from an already defined widget from another page : <br />
                <select id="loader_{{widgetName}}">
                    <option data-ng-repeat="(key,wname) in similarWidgets[widgetName]" value="{{key}}">{{wname}}</option>
                </select>
                <button type="button" data-ng-click="loadSCSSFrom(widgetName)">Load</button>
            </div>

            <div data-ng-repeat="(tag,elements) in elementdata">
                <h4 style="margin-left : 20px;packground-color : EBEBEB;border-bottom : 1px solid grey">{{tag}}</h4>

                <div data-ng-repeat="list in elements">
                    <div style="padding-left : 50px" >
                        <scssinput data="list" clipboard="clipboard" types="types"  primarycolorchoices='primarycolorchoices' fontfamilies='fontfamilies'></scssinput>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
