<style type="text/css">
    .widget{
        width : 90%;
        border : 1px solid grey;
        float : left;
        height : auto;
    }

    ul.sort{
        list-style-type: none;
    }
    ul.sort li{
        margin-top : 20px;
    }
    .valid{
        border : 1px soldi green;
    }
    .invalid {
        border : 1px solid red;
    }

    .container{
        float:left;
        min-height : 90px;
        height : auto;
    }

    .containerWithRows{
        background-color : transparent;
    }
    .containerWithouthRows{
        background-color : #EBEBEB;
        border : 1px solid #000;
    }
    .row{
        float : left;
        width:100%;
        padding : 0px;
        margin : 0px;
        background-color : transparent;
    }

    li.widget{
        float : left;
        width : 100%;
        height : auto;
        background : light-grey;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-top : 5px;
    }
    li.widget .title{
        background-color: #666666;
        width : 100%;
        float : left;
        height : auto;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
    }
    li.widget .title .name{
        color : #fff;
        font-weight : bold;
        float : left;
        margin-left : 5px;
    }
    li.widget .title .remove{
        float : right;
        color: #EBEBEB;
        cursor : pointer;
        margin-right : 5px;
    }
    li.widget .title .move{
        float : right;
        color: #EBEBEB;
        cursor : pointer;
        margin-right : 5px;
    }
    li.widget .content{
        background-color : #fff;

        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        padding : 5px;
    }
    li.widget .description{
        background-color: #ffff99;
        color : #002a80;
        font-size : 13px;
        font-style: italic;
    }


    div.widget .remove:hover{
        text-decoration : underline;
    }
    ul.widgetList{
        list-style-type: none;
        margin : 0px;
        padding : 0px;

    }
    .mytooltip{
        max-width : 960px;
        max-height : 960px;
    }

    .widgetPositionOption, .widgetPositionCSS{


        overflow : auto;
        display: none;
        position : fixed;
        z-index : 1000;
        top : 50px;
        right : 0px;
        background-color : white;
        padding : 10px;
        width : 500px;
        height : 600px;
        border : 5px solid blue;
    }


    #lean_overlay {
        position: fixed;
        z-index:100;
        top: 0px;
        left: 0px;
        height:100%;
        width:100%;
        background: #fff;
        display: none;
    }
    #tinymcecontainer{
        position : absolute;
        text-align : center;
        width : 100%;
        height : 100%;
        z-index : 200;
        top : 0px;
        left : 0px;
        display : none;
        background-color : #fcefa1;
    }
</style>

<h2>Widgets Positions</h2>
<br />

<div id="lean_overlay"></div>

<div id="tinymcecontainer">
    <div id="tinymce" style="width : 300px;">    
        <textarea data-ui-tinymce supertext="value" config="config"></textarea>
        {{value}}
        <button type="button" data-ng-click="saveWYSIWYG()" class="btn btn-default">Save</button>
        <button type="button" data-ng-click="cancelWYSIWYG()" class="btn btn-default">Cancel</button>
    </div>
</div>



<div style="width : 1200px;height : auto;float:left;background-color:#EBEBEB;" id="canvas">
    <div data-ng-repeat="mainRow in layout.rows" class="row">

        <div data-ng-repeat="container1 in mainRow.containers" class="container" style="margin-left : {{container1.marginLeft}}px;margin-bottom : {{container1.gutter}}px;width :{{container1.width}}px;" data-ng-class="{containerWithRows : container1.rows.length > 0, containerWithouthRows: container1.rows.length == 0}">

            <div data-ng-show="container1.rows.length > 0">
                <div data-ng-repeat="row in container1.rows" style="width:100%;padding : 0px;margin : 0px;background-color : transparent">

                    <div data-ng-repeat="container2 in row.containers"
                         style="margin-bottom : {{container2.gutter}}px;width :{{container2.width}}px;"
                         class="containerWithouthRows">
                        {{container2.id}} -
                        <div data-ng-repeat="widget in container2.widgets">
                            {{widget.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-show="container1.rows.length == 0" >
                <button type="button" data-ng-click="widgetMenu(container1, $event)" class="btn btn-mini">Add a widget</button>
                <ul  class="widgetList" data-containerid="{{container1.id}}" >
                    <li data-ng-repeat="widget in container1.widgets" class="widget" data-widgetid="{{widget.id}}">

                        <div class="title">
                            <div class="name">{{widget.id}} - {{widget.widgetName}}</div>
                            <div class="move" data-ng-click="move(widget.id, 'up')" ng-disabled="processing">up</div>
                            <div class="move" data-ng-click="move(widget.id, 'down')"  ng-disabled="processing">down</div>
                            <div class="remove" data-ng-click="removeWidget(widget)" ng-disabled="processing">remove</div>
                        </div>
                        <div class="description">
                            {{widget.description}}
                        </div>
                        Theme :

                        <select data-ng-model="widget.widgetThemeID" data-ng-change="updateWidget(widget, false)" data-ng-disabled='processing'>
                            <option data-ng-repeat="ww in widget.themeList" data-ng-selected="ww.id == widget.widgetThemeID" value="{{ww.id}}">
                                {{ww.themeName}}
                            </option>
                        </select><br />

                        <button type="button" data-ng-click="showCSS(widget.id)">CSS</button>
                        <button type="button" data-ng-click="showOptions(widget.id)">Options</button>


                        <div class="content" >

                            <div id="C_{{widget.id}}" class="widgetPositionCSS">


                                <h3>CSS for {{widget.widgetName}}</h3>


                                Margin  : (Top, right, Bottom, Left)<br />
                                <input class="input input-xmini" type="number" data-ng-model="widget.marginTop" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.marginRight" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.marginBottom" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.marginLeft" data-ng-change="updateWidget(widget, false)">px
                                <br />
                                Padding :  (Top, right, Bottom, Left)<br /> 

                                <input class="input input-xmini" type="number" data-ng-model="widget.paddingTop" data-ng-change="updateWidget(widget, false)" />px
                                <input class="input input-xmini" type="number" data-ng-model="widget.paddingRight" data-ng-change="updateWidget(widget, false)" />px
                                <input class="input input-xmini" type="number" data-ng-model="widget.paddingBottom" data-ng-change="updateWidget(widget, false)" />px
                                <input class="input input-xmini" type="number" data-ng-model="widget.paddingLeft" data-ng-change="updateWidget(widget, false)" />px
                                <br />                            
                                Align : <br />
                                <select class="input input-small"  data-ng-model="widget.align" data-ng-change="updateWidget(widget, false)" data-ng-disabled='processing'>
                                    <option value='left' data-ng-selected="widget.align == 'left'">Left</option>
                                    <option value='center' data-ng-selected="widget.align == 'center'">Centered</option>
                                    <option value='right'  data-ng-selected="widget.align == 'right'">Right</option>
                                </select>
                                <br />
                                Background-color : <br />
                                <select data-ng-model="widget.backgroundColor" data-ng-change="updateWidget(widget, false)" data-ng-disabled='processing'>
                                    <option data-ng-repeat="c in primarycolorchoices" data-ng-selected="c.realColor == widget.backgroundColor" value="{{c.realColor}}" style="background-color:{{c.realColor}}">{{c.variableName}}</option>
                                </select>                            
                                <br />
                                Background-image : <br />
                                <uploader2 action="http://rest:8181/uploader2.php"                                       
                                           containerwidgetid="{{widget.id}}" 
                                           option="widget"
                                           ></uploader2>
                                <br />
                                Background-repeat : <br />
                                <select class="input input-medium"  data-ng-model="widget.backgroundRepeat" data-ng-change="updateWidget(widget, false)">
                                    <option value="repeat">repeat</option>
                                    <option value="repeat-x">repeat-x</option>
                                    <option value="repeat-y">repeat-y</option>
                                    <option value="no-repeat">no-repeat</option>
                                    <option value="inherit">inherit</option>
                                </select>
                                <br />
                                Background-position : <br />
                                <select class="input input-medium"  data-ng-model="widget.backgroundPosition" data-ng-change="updateWidget(widget, false)">
                                    <option value="left top">left top</option>
                                    <option value="left center">left center</option>
                                    <option value="left bottom">left bottom</option>
                                    <option value="right top">right top</option>
                                    <option value="right center">right center</option>
                                    <option value="right bottom">right bottom</option>
                                    <option value="center top">center top</option>
                                    <option value="center center">center center</option>
                                    <option value="center bottom">center bottom</option>
                                </select>
                                <br />
                                Border-Size :  (Top, right, Bottom, Left)<br />
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderTopSize" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderRightSize" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderBottomSize" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderLeftSize" data-ng-change="updateWidget(widget, false)">px
                                <br />
                                Border-Radius :  (TopLeft, TopRight, BottomRight, BottomLeft)<br />
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderTopLeftRadius" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderTopRightRadius" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderBottomRightRadius" data-ng-change="updateWidget(widget, false)">px
                                <input class="input input-xmini" type="number" data-ng-model="widget.borderBottomLeftRadius" data-ng-change="updateWidget(widget, false)">px
                                <br />
                                Border-Style :   (Top, right, Bottom, Left)<br />
                                <select class="input input-small" data-ng-model="widget.borderTopStyle"  data-ng-change="updateWidget(widget, false)">
                                    <option value="none">none</option>
                                    <option value="hidden">hidden</option>
                                    <option value="dotted">dotted</option>
                                    <option value="dashed">dashed</option>
                                    <option value="solid">solid</option>
                                    <option value="double">double</option>
                                    <option value="groove">groove</option>
                                    <option value="ridge">ridge</option>
                                    <option value="inset">inset</option>
                                    <option value="outset">outset</option>
                                    <option value="inherit">inherit</option>
                                </select>
                                <select class="input input-small" data-ng-model="widget.borderRightStyle"  data-ng-change="updateWidget(widget, false)">
                                    <option value="none">none</option>
                                    <option value="hidden">hidden</option>
                                    <option value="dotted">dotted</option>
                                    <option value="dashed">dashed</option>
                                    <option value="solid">solid</option>
                                    <option value="double">double</option>
                                    <option value="groove">groove</option>
                                    <option value="ridge">ridge</option>
                                    <option value="inset">inset</option>
                                    <option value="outset">outset</option>
                                    <option value="inherit">inherit</option>
                                </select>
                                <select class="input input-small" data-ng-model="widget.borderBottomStyle"  data-ng-change="updateWidget(widget, false)">
                                    <option value="none">none</option>
                                    <option value="hidden">hidden</option>
                                    <option value="dotted">dotted</option>
                                    <option value="dashed">dashed</option>
                                    <option value="solid">solid</option>
                                    <option value="double">double</option>
                                    <option value="groove">groove</option>
                                    <option value="ridge">ridge</option>
                                    <option value="inset">inset</option>
                                    <option value="outset">outset</option>
                                    <option value="inherit">inherit</option>
                                </select>
                                <select class="input input-small" data-ng-model="widget.borderLeftStyle"  data-ng-change="updateWidget(widget, false)">
                                    <option value="none">none</option>
                                    <option value="hidden">hidden</option>
                                    <option value="dotted">dotted</option>
                                    <option value="dashed">dashed</option>
                                    <option value="solid">solid</option>
                                    <option value="double">double</option>
                                    <option value="groove">groove</option>
                                    <option value="ridge">ridge</option>
                                    <option value="inset">inset</option>
                                    <option value="outset">outset</option>
                                    <option value="inherit">inherit</option>
                                </select>
                                <br />
                                Border-Color : <br />
                                <select data-ng-model="widget.borderTopColor" data-ng-change="updateWidget(widget, false)" data-ng-disabled='processing'>
                                    <option data-ng-repeat="c in primarycolorchoices" data-ng-selected="c.realColor == widget.borderTopColor" value="{{c.realColor}}" style="background-color:{{c.realColor}}">{{c.variableName}}</option>                                    
                                </select>  
                                <select data-ng-model="widget.borderRightColor" data-ng-change="updateWidget(widget, false)" data-ng-disabled='processing'>
                                    <option data-ng-repeat="c in primarycolorchoices" data-ng-selected="c.realColor == widget.borderRightColor" value="{{c.realColor}}" style="background-color:{{c.realColor}}">{{c.variableName}}</option>                                    
                                </select>  

                                <select data-ng-model="widget.borderBottomColor" data-ng-change="updateWidget(widget, false)" data-ng-disabled='processing'>
                                    <option data-ng-repeat="c in primarycolorchoices" data-ng-selected="c.realColor == widget.borderBottomColor" value="{{c.realColor}}" style="background-color:{{c.realColor}}">{{c.variableName}}</option>                                    
                                </select>  
                                <select data-ng-model="widget.borderLeftColor" data-ng-change="updateWidget(widget, false)" data-ng-disabled='processing'>
                                    <option data-ng-repeat="c in primarycolorchoices" data-ng-selected="c.realColor == widget.borderLeftColor" value="{{c.realColor}}" style="background-color:{{c.realColor}}">{{c.variableName}}</option>                                    
                                </select>  
                                <br/>

                            </div>
                            <div id="O_{{widget.id}}" class="widgetPositionOption">
                                <b>Options</b><br />
                                <ul>  
                                    <li data-ng-repeat="option in widget.options">

                                        {{option.optionName}}
                                        <br />

                                        <span data-ng-if="option.type == 'css' && option.allowedValues == null"  >
                                            <input type='number' data-ng-model="option.value"  data-ng-change="updateOption(option, widget)" data-ng-disabled="processing"/>
                                        </span>
                                        <span data-ng-if="option.type == 'file'"   >
                                            <uploader action="http://rest:8181/uploader.php" option="option" currentsrc="{{option.containerWidgetOptionID}}_{{option.value}}" websiteid="{{websiteID}}" containerwidgetid="{{widget.id}}" widgetoptionid="{{option.id}}"></uploader>
                                        </span>
                                        <span  data-ng-if="option.type == 'boolean'"   >
                                            <input type='checkbox' data-ng-checked="option.value == true" data-ng-model="option.value" data-ng-change="updateOption(option, widget)"  data-ng-disabled="processing"/>
                                        </span>
                                        <span  data-ng-if="option.type == 'text'"   >
                                            <input type='text' data-ng-model="option.value" data-ng-disabled="processing"/>
                                            <button data-ng-click="updateOption(option, widget)"   type="button" >Save</button>
                                        </span>
                                        <span data-ng-if="option.type == 'css' && option.allowedValues != null"   >
                                            <select data-ng-model='option.value' data-ng-change="updateOption(option, widget)"  data-ng-disabled="processing">
                                                <option data-ng-selected="option.value == opt" data-ng-repeat="opt in option.allowedValues" value="{{opt}}">{{opt}}</option>
                                            </select>
                                        </span>
                                        <span data-ng-if="option.type == 'richtext'" >
                                            <button type="button" class="btn btn-default" data-ng-click="tinymce(widget, option)">WYSIWYG</button>                                                    
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />


                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>



<ul id="context1" class="dropdown-menu">
    <li data-ng-repeat="widget in widgets">
        <a data-ng-click="addWidget(widget)">{{widget.name}}</a>
    </li>
</ul>



