<style type='text/css'>
    tr.active{
        background-color: #c43c35;
    }
    body{
        width : 1950px;
        padding : 0px;
    }
    /*button{
        padding : 0px;
        margin : 0px;
        margin-bottom : 10px;
    }*/

    select.large{
        width : 500px;
    }
    select.superlarge{
        width : 650px;
    }
    td.error{
        color : red;
        font-weight : bold;
        font-size : 15px;
    }
    input.small{
        width : 80px;
    }
</style>
<style>

    .sortable {
        width: 900px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .sortable.grid {
        overflow: hidden;
    }
    .sortable li {
        list-style: none;
        border: 1px solid #CCC;
        background: #F6F6F6;
        color: #1C94C4;
        margin: 5px;
        padding: 5px;
        height: auto;
    }
    .sortable.grid li {
        line-height: 80px;
        float: left;
        width: 80px;
        height: 80px;
        text-align: center;
    }
    .handle {
        cursor: move;
    }
    .sortable.connected {
        width: 200px;
        min-height: 100px;
        float: left;
    }
    li.disabled {
        opacity: 0.5;
    }
    li.highlight {
        background: #FEE25F;
    }
    li.sortable-placeholder {
        border: 1px dashed #CCC;
        background: none;
    }
</style>


<h2>
    Module '{{url.moduleName}}' :  class {{url.action}}->{{url.method}}()
    
</h2>

<div style="float:left;width : 80px;background-color:#fff;border-right : 1px solid #000;min-height : 1500px;">
    <button type="button" ng-click="active='params'">Params</button><br />
    <button type="button" ng-click="active='items'">Items</button><br />

</div>
<div style="float:left;width : 1800px;">
    <div ng-show="active=='params'" style='float:left;background-color: #a9dba9;width : 1790px;padding : 10px'>
        <h3>Constructors</h3>
        <table border='1' cellpadding='5'>
            <tr style="background-color: #7aba7b">
                <th>id</th>
                <th>name</th>
                <th>Instanciator</th>
                <th>required</th>
                <th>default Value</th>
                <th>Optional Attribute</th>
                <th>Optional Value</th>
                <th></th>
            </tr>
            <tr ng-repeat="c in constructors">
                <td>{{c.id}}</td>
                <td>
                    <input type='text' ng-model='c.name' />
                </td>
                <td>
                    <select ng-model="c.instanciatorID" ng-disabled="processing" class="superlarge" ng-init="updateChoices(c)" ng-change="updateChoices(c)">
                        <option ng-selected="c.instanciatorID==i.id" ng-repeat="i in instanciators" value="{{i.id}}">
                            {{i.path}} - {{i.functionName}}
                        </option>
                    </select>
                </td>
                <td>
                    <input type='checkbox' ng-model='c.required'  ng-disabled="processing"/>
                </td>
                <td>
                    <input type='text' ng-model='c.defaultValue'  ng-disabled="processing"/>
                </td>
                <td>
                    <select ng-model="c.dataAttributeID" ng-disabled="processing" >
                        <option ng-selected="c.dataAttributeID==a.id" ng-repeat="a in c.choices" value="{{a.id}}">{{a.shortName}}</option>
                    </select>
                </td>
                <td>
                    <select data-ng-model="c.dataValue" class="input-medium">
                        <option value="">noURLData</option>
                        <option data-ng-repeat="d in possibleUrlData" value="{{d.id}}" data-ng-selected="d.id==c.dataValue">{{d.name}}</option>
                    </select>
                    <!--<input type='text' ng-model='c.dataValue'  class="small" ng-disabled="processing"/>-->
                </td>
                <td>
                    <button type="button" ng-click="saveC(c)"  ng-disabled="processing">Save</button>
                    <button type="button" ng-click="deleteC(c)"  ng-disabled="processing">Delete</button>

                </td>
            </tr>
            <tr>
                
                <td>NEW</td>
                <td>
                    <input type='text' ng-model='nc.name' />
                </td>
                <td>
                    <select ng-model="nc.instanciatorID" ng-disabled="processing" class="superlarge" ng-change="updateChoices(nc)">
                        <option ng-repeat="i in instanciators" value="{{i.id}}">
                            {{i.path}} - {{i.functionName}}
                        </option>
                    </select>
                </td>
                <td>        
                    <input type='checkbox' ng-model='nc.required'  ng-disabled="processing"/>
                </td>
                <td>
                    <input type='text' ng-model='nc.defaultValue'  ng-disabled="processing"/>
                </td>
                <td>
                    <select ng-model="nc.dataAttributeID" ng-disabled="processing" >
                        <option ng-repeat="a in nc.choices" value="{{a.id}}">{{a.shortName}}</option>
                    </select>
                </td>
                <td>
                    <input type='text' ng-model='nc.dataValue' class="small" ng-disabled="processing"/>
                </td>
                <td>
                    <button type='button' ng-click='createC(nc)'  ng-disabled="processing">Create</button>
                </td>
            </tr>
        </table>
        
        <h3>Literals</h3>
        
        <table border="1" cellpadding="5">
            <tr>
                <th>Literal</th>
                <th>Required</th>
                <th>Default Value</th>
                <th></th>
            </tr>
            <tr ng-repeat="l in urlLiterals">
                <td>
                    {{l.literals.name}} [{{l.literals.type}}]
                </td>
                <td>
                    <input type="checkbox" ng-model="l.required" />
                </td>
                <td>
                    <input type="text" ng-model="l.defaultValue" />
                </td>
                <td>
                    <button type="button" ng-click="saveL(l)" ng-disabled="processing">Save</button>
                    <button type="button" ng-click="deleteL(l)" ng-disabled="processing">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <select ng-model="nl.literalID" ng-disabled="processing">
                        <option ng-repeat="l in literals" value="{{l.id}}"  ng-disabled="processing">{{l.longName}}</option>
                    </select>
                </td>
                <td>
                    <input type="checkbox" ng-model="nl.required" ng-disabled="processing" />
                </td>
                <td>
                    <input type="text" ng-model="nl.defaultValue" ng-disabled="processing" />
                </td>
                <td>
                    <button type="button" ng-click="addL(nl)">Add</button>
                </td>
            </tr>
        </table>
        
        <h3>Gets</h3>
        <table border='1' cellpadding='5'>
            <tr>
                <th>id</th>
                <th>constructor</th>
                <th>attribute</th>
                <th>urlName</th>
                <th></th>
            </tr>
            <tr ng-repeat='g in gets'>
                <td>{{g.id}}</td>
                <td>
                    <select ng-model='g.constructorID'  ng-change='updateGetConstructor(g)'>
                        <option ng-repeat='c in constructors' ng-selected='c.id==g.constructorID' value='{{c.id}}'>{{c.name}}</option>
                    </select>
                </td>
                <td>
                    <select ng-model='g.attributeID'>
                        <option ng-selected='g.attributeID==a.id' ng-repeat='a in g.possibleAttrs' value='{{a.id}}'>{{a.attributeName}}</option>
                    </select>
                </td>
                <td>
                    <input type='text' ng-model='g.urlName' />
                </td>
                <td>
                    <button type='button' ng-click='saveG(g)'>Save</button>
                    <button type='button' ng-click='deleteG(g)'>Delete</button>
                </td>
            </tr>
            <tr>
                <td>NEW</td>
                <td>
                    <select ng-model='ng.constructorID' ng-change='updateGetConstructor(ng)'>
                        <option ng-repeat='c in constructors' value='{{c.id}}'>{{c.name}}</option>
                    </select>
                </td>
                <td>
                    <select ng-model='ng.attributeID'>
                        <option ng-repeat='a in ng.possibleAttrs' value='{{a.id}}'>{{a.attributeName}}</option>
                    </select>
                </td>
                <td>
                    <input type='text' ng-model='ng.urlName' />
                </td>
                <td>
                    <button type='button' ng-click='createG(ng)'>Create</button>
                </td>
            </tr>
            
        </table>
    </div>
    
    
    <div ng-show="active=='items'" style='float:left;background-color: #c4e3f3;width : 1500px;padding : 10px'>
        <h3>Items</h3>   
        <table border='1' cellpadding='5'>
            <tr style="background-color: #7aba7b">
                <th>id</th>
                <th>name</th>
                <th></th>
            </tr>
            <tr ng-repeat='i in items' ng-class='{active : i.id==currentItem.id}'>
                <td>
                    {{i.id}}
                </td>
                <td>
                    <input type='text' ng-model='i.name' ng-disabled='processing' />
                </td>
                <td>
                    <button type='button' ng-click='saveI(i)'>Save</button>
                    <button type='button' ng-click='deleteI(i)'>Delete</button>
                    <button type='button' ng-click='manageI(i)'>URL Building</button>
                </td>
                
            </tr>
            <tr>
                <td>NEW</td>
                <td>
                    <input type='text' ng-model='ni.name' />
                </td>
                <td>
                    <button type='button' ng-click='createI(ni)' >Create</button>
                </td>
                
            </tr>
        </table>            
    </div>
    <script>

    </script>
    <div ng-show="active=='ub'" style='float:left;background-color: #fcefa1;width : 1300px;padding : 10px'>
        <h3>'{{currentItem.name}}' urlBuilding</h3>  
        <ul id="sortable" class="sortable" >


            <li ng-repeat='u in urls' ubid="{{u.id}}">

                <select ng-model='u.type' ng-disabled='processing' ng-change="initialData(u)">
                    <option ng-selected='u.type=="const"' value="const">Constant</option>
                    <option ng-selected='u.type=="constructor"' value="constructor">Constructor</option>
                    <option ng-selected='u.type=="object"' value="object">Object</option>
                    <option ng-selected='u.type=="literal"' value="literal">Literal</option>
                </select>
                
                -
                <input type="text" ng-model="u.constValue" ng-show="u.type=='const'"  ng-disabled="processing" />

                <select ng-model="u.constructorID" ng-show="u.type=='constructor'" ng-disabled="processing" 
                        ng-change="updatePossibleAttributes()" >
                    <option ng-selected="u.constructorID==c.id" ng-repeat='c in constructors' value='{{c.id}}' >{{c.name}}</option>
                </select>
                
                <select ng-model="u.attributeID" ng-show="u.type=='constructor'" ng-disabled="processing"  >
                    <option ng-selected="u.attributeID==c.id" ng-repeat='c in u.possibleAttributes' value='{{c.id}}' >{{c.attributeName}}</option>
                </select>
                
                <select ng-model="u.attributeID" ng-show="u.type=='object'" ng-disabled="processing" class="large" >
                    <option ng-selected="u.attributeID==c.id" ng-repeat='c in attributes' value='{{c.id}}' >{{c.longName}}</option>
                </select>
                
        
                <select ng-model="u.literalID" ng-show="u.type=='literal'" ng-disabled="processing" >
                    <option ng-selected="u.literalID==c.id" ng-repeat='c in availableLiterals' value='{{c.id}}' >{{c.name}}</option>
                </select>
                -
                <button type="button" ng-click="saveUB(u)" ng-disabled="processing">Save</button>
                <button type="button" ng-click="deleteUB(u)" ng-disabled="processing">Delete</button>

            </li>
        </ul>
        <br />
        <u><b>Add a new url component : </b></u><br />
        <select ng-model='nu.type' ng-disabled='processing' ng-change="clear(nu)" style="margin-left : 30px">
            <option  value="const">Constant</option>
            <option  value="constructor">Constructor</option>
            <option  value="object">Object</option>
            <option  value="literal">Literal</option>
        </select>
        - <input type="text" ng-model="nu.constValue" ng-show="nu.type=='const'"  ng-disabled="processing" />
        
        
        <select ng-model="nu.constructorID" ng-show="nu.type=='constructor'" ng-change="setPossibleAttributes(nu)" ng-disabled="processing">
            <option  ng-repeat='c in constructors' value='{{c.id}}' >{{c.name}}</option>
        </select>
        
        <select ng-model="nu.attributeID"  ng-show="nu.type=='constructor'" ng-disabled="processing" style="width : 500px">
            <option ng-repeat='c in possibleAttributes' value='{{c.id}}' >{{c.attributeName}}</option>
        </select>
        
        
        
        <select ng-model="nu.attributeID" ng-show="nu.type=='object'" ng-disabled="processing" style="width : 500px">
            <option ng-repeat='c in availableObjects' value='{{c.id}}' >{{c.path}}->{{c.attributeName}}</option>
        </select>
        
        <select ng-model="nu.literalID" ng-show="nu.type=='literal'" ng-disabled="processing" style="width : 500px">
            <option ng-repeat='c in availableLiterals' value='{{c.id}}' >{{c.name}}</option>
        </select>
        - <button type="button" ng-click="createUB(nu)" ng-disabled="processing">Add</button>

        

    </div>
</div>


