<h2>URLs definition - WebsiteID = {{websiteID}}</h2>


<table border="1" cellpadding="5">
    <tr style="background-color: #7aba7b">
        <th>id</th>
        <th>url name</th>
        <th>Is default</th>
        <th>module name</th>
        <th>ajax</th>
        <th>action</th>
        <th>method</th>        
        <th></th>
    </tr>
    <tr ng-repeat="url in urls">
        <td>{{url.id}}</td>
        <td>
            <select ng-disabled="processing" ng-model="url.urlNameID">
                <option ng-selected="url.urlNameID==urlname.id" ng-repeat="urlname in urlNames" value="{{urlname.id}}">{{urlname.urlName}}</option>
            </select>
        </td>
        <td>
            <input type="checkbox"  ng-checked="url.id==defaultUrlID" ng-click="setDefaultUrl(url)"/>
        </td>
        <td>
            <select ng-disabled="processing" ng-model="url.moduleName" ng-change='updateA(url)'>                
                <option ng-repeat="(a,b) in modules" ng-selected="a==url.moduleName"  value="{{a}}">{{a}}</option>
            </select>
        </td>
        <td>
            <select ng-model="url.urlType" ng-change='updateA(url)'>
                <option value="page" ng-selected="url.urlType=='page'">Page</option>
                <option value="ajax" ng-selected="url.urlType=='ajax'">Ajax</option>
                <option value="redirect" ng-selected="url.urlType=='redirect'">Redirect</option>
            </select>
        </td>
        
        <td>
            <select ng-disabled="processing" ng-model="url.action"  ng-init ="updateA(url)" ng-change='updateA(url)' >                
                <option ng-repeat="(a,b) in url.possibleActions" ng-selected="a==url.action"  value="{{a}}">{{a}}</option>
            </select>
        </td>
        <td>
            <select ng-disabled="processing" ng-model="url.method"  ng-init="updateM(url)" >  
                <option ng-repeat="m in url.possibleMethods" ng-selected="m==url.method"  value="{{m}}">{{m}}</option>
            </select>
        </td>
        
        <td>
            <button type='button' ng-click='save(url)' ng-disabled="processing || testAdmin" >Save</button>
            <button type='button' ng-click='manage(url)' ng-disabled="processing" >Manage</button>            
        </td>
    </tr>
    <tr>
        <td>NEW</td>
        <td>
            <select ng-disabled="processing" ng-model="nurl.urlNameID">
                <option ng-repeat="urlname in urlNames" value="{{urlname.id}}">{{urlname.urlName}}</option>
            </select>
        </td>
        <td></td>
        <td>
            <select ng-disabled="processing" ng-model="nurl.moduleName" ng-change='updateA(nurl)'>                
                <option ng-repeat="(a,b) in modules" value="{{a}}">{{a}}</option>
            </select>
        </td>
        <td>
            <select ng-model="nurl.urlType"  ng-change='updateA(nurl)'>
                <option value="page">Page</option>
                <option value="ajax">Ajax</option>
                <option value="redirect">Redirect</option>
            </select>
        </td>
        
        <td>
            <select ng-disabled="processing" ng-model="nurl.action"   ng-change='updateA(nurl)' >                
                <option  ng-repeat="(a,b) in nurl.possibleActions" value="{{a}}">{{a}}</option>
            </select>
        </td>
        <td>
            <select ng-disabled="processing" ng-model="nurl.method"  >                
                <option ng-repeat="m in nurl.possibleMethods" value="{{m}}">{{m}}</option>
            </select>
        </td>
        
        <td>
            <button type='button' ng-click='create(nurl)'>Create</button>
        </td>
    </tr>
</table>
    
    
