<span data-ng-class="{unset: (data.complements.length==0 && leftActiveID!=data.id),activeul : (leftActiveID==data.id)}" 
    data-ng-click="setLeftActive(data);" id="C{{data.id}}">{{data.name}} - {{data.children.length}} - {{data.id}}
</span>
<ul> 
    <li ng-repeat = "data in data.children" ng-include = "'/partials/classifications/leftMatch.html'"> </li>
</ul >