<h2>Classification Sources</h2>
<style  type="text/css">
    tr:nth-child(odd) { 
        background-color : #ffffff;
    }
    tr:nth-child(even) {
        background-color : #efefef;
    }
</style>


<table cellpadding ="5">
    
    <tr style="background-color: #7aba7b">
        <th>id</th>
        <th>Origin</th>
        <th>Type</th>
        <th>Is Master</th>
        <th>Nb Classifications</th>
        <th>Mallet Train / Test Accuracy</th>        
        <th>Actions</th>
    </tr>
    <tr ng-repeat="co in classificationOrigins">

    
        <td>{{co.id}}</td>
        <td>
            <select data-ng-model="co.originID" class="input input-xlarge">
                <option data-ng-repeat="o in origins" data-ng-selected="o.id==co.originID" value="{{o.id}}">{{o.originName}}</option>
            </select>            
        </td>
        <td>
            <select data-ng-model="co.typeID" class="input input-medium">
                <option data-ng-repeat="t in types" data-ng-selected="t.id==co.typeID" value="{{t.id}}">{{t.name}}</option>
            </select>
        </td>
        <td>
            <input type="checkbox" data-ng-model="co.isMaster" data-ng-checked="co.isMaster=='1'"/>
        </td>
        <td>
            {{co.stats}}
        </td>
        <td>
            {{co.malletTrainAccuracy}} / {{co.malletTestAccuracy}}
        </td>
        <td>
            <button type="button" ng-disabled="processing" ng-click="save(co)">Save</button>
            <button type="button" ng-disabled="processing" ng-click="remove(co)">Delete</button>
        </td>
    </tr>   
    <tr>
        <td></td>
        <td>
            <select data-ng-model="source.originID" class="input input-xlarge">
                <option data-ng-repeat="o in origins"  value="{{o.id}}">{{o.originName}}</option>
            </select>            
        </td>
        <td>
            <select data-ng-model="source.typeID" class="input input-medium">
                <option data-ng-repeat="t in types" data-ng-selected="t.id==co.typeID" value="{{t.id}}">{{t.name}}</option>
            </select>
        </td>
        <td>
            <input type="checkbox" data-ng-model="source.isMaster" />
        </td>
        <td>
            -
        </td>
        <td>
            -
        </td>
        <td>
            -
        </td>
        <td>
            <button type="button" ng-disabled="processing" ng-click="create(source)">Create a new Classification Origin</button>
        </td>
    </tr>
</table>

