<h3>Default website's sources</h3>

<table border='1' cellpadding='5'>
    <tr>
        <th>Type</th>
        <th>Default source</th>
    </tr>
    <tr data-ng-repeat='type in types'>
        <td>{{type.name}}</td>
        <td>
            <select data-ng-model='type.classificationOriginID' data-ng-change='setDefault(type)' class="input-xxlarge">
                <option data-ng-repeat='origin in origins' data-ng-selected="type.classificationOriginID==origin.id" data-ng-show="origin.typeID==type.id && origin.isMaster=='1'"
                        value='{{origin.id}}'>{{origin.name}}</option>
            </select>
        </td>        
    </tr>
</table>