<h2>Classification Types</h2>
<style  type="text/css">
    tr:nth-child(odd) { 
        background-color : #ffffff;
    }
    tr:nth-child(even) {
        background-color : #efefef;
    }
</style>

<table cellpadding ="5">
    
    <tr style="background-color: #7aba7b">
        <th>id</th>
        <th>name</th>
        <th>resolution Type</th>
        <th>actions</th>
    </tr>
    <tr ng-repeat="t in types">
        <td>{{t.id}}</td>
        <td><input type="text" ng-model='t.name' ng-disabled="processing" /> </td>
        <td>    
            <select ng-disabled="processing" ng-model="t.resolutionTypeID" >
                <option ng-repeat="rt in resolutionTypes" ng-selected="rt.id==t.resolutionTypeID"  value="{{rt.id}}">{{rt.name}}</option>
            </select>
        </td>
        <td> 
            <button type="button" ng-disabled="processing" ng-click="save(t)">Save</button>
            <button type="button" ng-disabled="processing" ng-click="remove(t)">Delete</button>
        </td>
    </tr>
    <tr style="background-color: yellow">
        <td></td>
        <td><input type="text" ng-model='newt.name' ng-disabled="processing" /> </td>
        <td>    
            <select ng-disabled="processing" ng-model="newt.resolutionTypeID" >
                <option ng-repeat="rt in resolutionTypes"  value="{{rt.id}}">{{rt.name}}</option>
            </select>
        </td>
        <td> 
            <button type="button" ng-disabled="processing" ng-click="create(newt)">Create</button>            
        </td>
    </tr>   
</table>

<div id='url' style='display:none;padding : 5px;width : 100%;height : 100%;overflow:auto;position : absolute;top : 0px;left : 0px;background-color : #fff;'>
    <h3>You are about to create a new classification.</h3>
    <h4>Important Notice</h4>
    <span class="label label-important" style="font-size : 14px !important">Each web-site MUST have his own URL definition ! After creating this classification type, you must go to each website selected below, and <b>modify their URL system</b></span>
    <span class="label label-info" style='font-size : 14px'>
        For this reason, you can choose a list of web-sites concerned by this new classification . Be very careful with the following choices, as they will apply to ALL the choosen websites below.
    </span>
    
    <h4>All new created web-sites should integrate this new classification</h4>
    <input type='radio' data-ng-model='newwebsite' value='yes'>Yes<br />
    <input type='radio' data-ng-model='newwebsite' value='no'>No<br />
    <h4>
        List of web-sites concerned by this new classification 
        [ <button type='button' data-ng-click='select(true)'>check all</button> 
        <button type='button' data-ng-click='select(false)'>un-check all</button> ]
    </h4>
    
    <div style='width:100%;max-height : 400px;overflow:auto;margin-bottom : 20px;'>
        <div style="float:left;width:20%;line-height : 70%;">
            <span data-ng-repeat="site in websites0">
                <input type="checkbox" data-ng-checked="selectedWebsites.indexOf(site) != -1" data-ng-click="toggleCheck(site)"> {{site.websiteName}} <br /><span style="font-size : 10px">{{site.url}}</span><br />            
            </span>
        </div>
        <div style="float:left;width:20%;line-height : 70%">
            <span data-ng-repeat="site in websites1">
                <input type="checkbox"  data-ng-checked="selectedWebsites.indexOf(site) != -1" data-ng-click="toggleCheck(site)" > {{site.websiteName}} <br /><span style="font-size : 10px">{{site.url}}</span><br />            
            </span>
        </div>
        <div style="float:left;width:20%;line-height : 70%">
            <span data-ng-repeat="site in websites2">
                <input type="checkbox"  data-ng-checked="selectedWebsites.indexOf(site) != -1" data-ng-click="toggleCheck(site)" > {{site.websiteName}} <br /><span style="font-size : 10px">{{site.url}}</span><br />            
            </span>
        </div>
        <div style="float:left;width:20%;line-height : 70%">
            <span data-ng-repeat="site in websites3">
                <input type="checkbox"  data-ng-checked="selectedWebsites.indexOf(site) != -1" data-ng-click="toggleCheck(site)" > {{site.websiteName}} <br /><span style="font-size : 10px">{{site.url}}</span><br />            
            </span>
        </div>
        <div style="float:left;width:20%;line-height : 70%">
            <span data-ng-repeat="site in websites4">
                <input type="checkbox"  data-ng-checked="selectedWebsites.indexOf(site) != -1" data-ng-click="toggleCheck(site)" > {{site.websiteName}} <br /><span style="font-size : 10px">{{site.url}}</span><br />            
            </span>
        </div>
    </div>
    
    
    <h4>Constructor used in the URL : </h4>
    <select data-ng-model="constructortype">
        <option value='pk'>create from PK</option>
        <option value='name'>create from lastName</option>
    </select>
    <br />
    <small>To use another constructor, create this classification, and then got to /Urls/Constructors to manage constructors. And then, update accordingly all concerned sites.</small>
    <br />
    <h4>Default URL value when NULL</h4>
    <input type="text" data-ng-model="defaultValue" /><br />
    
    <h4 class='btn btn-danger'>Jobs By '{{newt.name}}' URL  = 
        <span data-ng-show="constructortype=='name'">/{{cc}}/lastName</span>
        <span data-ng-show="constructortype=='pk'">/{{cc}}/ID</span>
    </h4><br />
    
    <h4 class='btn btn-danger'>Jobs By '{{newt.name}}' URL when NULL  = 
        <span data-ng-show="constructortype=='name'">/{{cc}}/{{defaultValue}}</span>
        <span data-ng-show="constructortype=='pk'">/{{cc}}/{{defaultValue}}</span>
    </h4><br />
    
    <h4 class='btn btn-danger'>
        Complex Search URL  = 
        <span data-ng-show="constructortype=='name'">ExistingURL + "/" + lastName</span>
        <span data-ng-show="constructortype=='pk'"> ExistingURL + "/" + ID</span>
    </h4><br />
    <h4 class='btn btn-danger'>
        Complex Search URL when NULL = 
        <span data-ng-show="constructortype=='name'">ExistingURL + "/" + {{defaultValue}}</span>
        <span data-ng-show="constructortype=='pk'"> ExistingURL + "/" + {{defaultValue}}</span>
    </h4><br />
    <h4>Selected Websites : </h4>
    <label class='label label-success' style='margin-left:5px;' data-ng-repeat="site in selectedWebsites">
        {{site.websiteName}}
    </label>
    <br />
    <br />
    <button type='button' data-ng-click="close()" class="btn btn-large btn-info">Cancel</button> &nbsp;
    <button type='button' data-ng-click="confirm()" class="btn btn-large btn-primary">Confirm, and create these URLs</button>
    
    
</div>