<h2>Classification Managment</h2>

<div style="float:left;background-color: #dfdfdf;width : 350px;padding : 10px">
    <p style="font-weight:bold">Choose with classification you want to administer</p>
    
    <label>Type</label>
    <select ng-model="typeID"  ng-change="changeType()">        
        <option ng-repeat="t in types" value="{{t.id}}" data-ng-selected="typeID==t.id">{{t.name}}</option>
    </select>

    <br>
    <label>Classification origin</label>
    <select ng-model="originID" ng-change="setOrigin()">        
        <option ng-repeat="o in origins" value="{{o.id}}" data-ng-selected="originID=o.id">{{o.name}}</option>
    </select>

    <br>
    <h3 ng-show="stats.length>0" >Stats : </h3>
    <label ng-repeat="st in stats">Depth {{st.depth}} => {{st.nb}} records</label>
    
    

</div>
<div ng-show="stats.length>=0 && typeID!=null && originID!=null" style="float:left;background-color: papayawhip;width : 400px;padding : 10px">
    <label>Level 0</label>
    <select  ng-model="lvl0" ng-change="update(0)">
        <option value="0"></option>
        <option ng-selected="l.id==lvl0" ng-repeat="l in lvl0List" value="{{l.id}}">{{l.name}}</option>
    </select> - <button ng-disabled="lvl0==0" type="button" ng-click="edit(lvl0)">Edit</button>
     - <button  type="button" ng-click="add(0,0)">Add</button>
     - <button ng-disabled="lvl0==0" type="button" ng-click="delete(lvl0)">Delete</button>

    <br>
    <label>Level 1</label>
    <select ng-disabled="processing" ng-model="lvl1" ng-change="update(1)">
        <option value="0"></option>
        <option ng-selected="l.id==lvl1" ng-repeat="l in lvl1List" value="{{l.id}}">{{l.name}}</option>
    </select> - <button ng-disabled="lvl1==0" type="button" ng-click="edit(lvl1)">Edit</button>
     - <button ng-disabled="lvl0==0" type="button" ng-click="add(lvl0,1)">Add</button>
     - <button ng-disabled="lvl1==0" type="button" ng-click="delete(lvl1)">Delete</button>

    <br>
    <label>Level 2</label>
    <select ng-disabled="processing" ng-model="lvl2" ng-change="update(2)">
        <option value="0"></option>
        <option ng-selected="l.id==lvl2" ng-repeat="l in lvl2List" value="{{l.id}}">{{l.name}}</option>
    </select> - <button ng-disabled="lvl2==0" type="button" ng-click="edit(lvl2)">Edit</button>
     - <button ng-disabled="lvl1==0" type="button" ng-click="add(lvl1,2)">Add</button>
     - <button ng-disabled="lvl2==0" type="button" ng-click="delete(lvl2)">Delete</button>

    <br>
    <label>Level 3</label>
    <select ng-disabled="processing" ng-model="lvl3" ng-change="update(3)">
        <option value="0"></option>
        <option ng-selected="l.id==lvl3" ng-repeat="l in lvl3List" value="{{l.id}}">{{l.name}}</option>
    </select> - <button ng-disabled="lvl3==0" type="button" ng-click="edit(lvl3)">Edit</button>
     - <button ng-disabled="lvl2==0" type="button" ng-click="add(lvl2,3)">Add</button>
     - <button ng-disabled="lvl3==0" type="button" ng-click="delete(lvl3)">Delete</button>

    <br>
    <label>Level 4</label>
    <select ng-disabled="processing" ng-model="lvl4" ng-change="update(4)">
        <option value="0"></option>
        <option ng-selected="l.id==lvl4" ng-repeat="l in lvl4List" value="{{l.id}}">{{l.name}}</option>
    </select> - <button ng-disabled="lvl4==0" type="button" ng-click="edit(lvl4)">Edit</button>
     - <button ng-disabled="lvl3==0" type="button" ng-click="add(lvl3,4)">Add</button>
     - <button ng-disabled="lvl4==0" type="button" ng-click="delete(lvl4)">Delete</button>

    <br>
    <label>Level 5</label>
    <select ng-disabled="processing" ng-model="lvl5" ng-change="update(5)">
        <option value="0"></option>
        <option ng-selected="l.id==lvl5" ng-repeat="l in lvl5List" value="{{l.id}}">{{l.name}}</option>
    </select> - <button ng-disabled="lvl5==0" type="button" ng-click="edit(lvl5)">Edit</button>
     - <button ng-disabled="lvl4==0" type="button" ng-click="add(lvl4,5)">Add</button>
     - <button ng-disabled="lvl5==0" type="button" ng-click="delete(lvl5)">Add</button>

</div>

<div ng-show="editEnable"  style="float:left;background-color: #c4e3f3;width : 350px;padding : 10px">
     <p style="font-weight:bold" ng-show="!new">Edit Form - ID : {{classification.id}}</p>
     <p style="font-weight:bold" ng-show="new">Classification addition</p>
     <label>Name : </label>
     <input type="text" ng-model="classification.name" ng-disabled="" style="width:330px"/>
     <label>Aliases ( comma separated list ): </label>
     <textarea ng-model="classification.aliases"  style="width:330px"></textarea>
     <label>Description : </label>
     <textarea ng-model="classification.description"  style="width:330px"></textarea>
     <label>Wikipedia URL : </label>
     <input type="text" ng-model="classification.url"  style="width:330px"/>
     <label>Context ID : </label>
     <input type="text" ng-model="classification.contextID"  ng_disabled="true && !new" style="width:330px"/>
     <label>Master : </label>
     <input type="text" ng-model="classification.masterID"  ng_disabled="true" style="width:330px"/>
     <br />
     <button type="button" ng-click="save(classification)" ng-show="!new">Save</button>
     <button type="button" ng-click="create(classification)" ng-show="new">Create</button>
     <br />
     
     
</div>