<style type="text/css">
    .equal, .unset, .belongs, .parent{
        cursor : pointer;
    }
    .equal{
        border : 1px solid green;      
    }
    .unset{
        border : 1px solid red;
    }
    .belongs{
        border : 1px solid blue;
    }
    .parent{
        border : 1px solid grey;
    }
    .activeul{
        border : 1px solid black;
        background-color : black;
        color : white;
        
    }
    
    #left{
        float : left;
        width : 40%;
        overflow : auto;
        height : 400px;
    }
    #right{
        float : right;
        width : 40%;
      overflow : auto;
        height : 400px;
    }
</style>

<br /><br />
<span class="pull-left label label-info">{{tree1.name}}</span>
<span class="pull-right label label-info">{{tree2.name}}</span>
<div class='clear'></div>
<br />
<div>
    

<ul id='left'>
    <li data-ng-repeat='tr10 in tree1.data'>
        <span data-ng-class="{
                unset: (tr10.complements.length==0 && leftActiveID!=tr10.id), 
                activeul : (leftActiveID==tr10.id)
            }" data-ng-click="setLeftActive(tr10)" id="C{{tr10.id}}">{{tr10.name}}</span>        
        <!--<ul data-ng-if='tr10.children.length!=0'>
            <li data-ng-repeat='tr11 in tr10'>
                <span data-ng-class="{
                        equal: (tr10.complementID!=null && tr10.verbID==1), 
                        unset: (tr10.complementID==null), 
                        belongs : (tr10.complementID!=null && tr10.verbID==2), 
                        parent : (tr10.complementID!=null && tr10.verbID==3) 
                    }">{{tr11.name}}</span>
                <ul data-ng-if='tr11.children.length!=0'>
                    <li data-ng-repeat='tr12 in tr11'>
                        <span data-ng-class="{
                            equal: (tr10.complementID!=null && tr10.verbID==1), 
                            unset: (tr10.complementID==null), 
                            belongs : (tr10.complementID!=null && tr10.verbID==2), 
                            parent : (tr10.complementID!=null && tr10.verbID==3) 
                        }">{{tr12.name}}</span>
                        <ul data-ng-if='tr12.children.length!=0'>
                            <li data-ng-repeat='tr13 in tr12'>
                                <span data-ng-class="{
                                equal: (tr10.complementID!=null && tr10.verbID==1), 
                                unset: (tr10.complementID==null), 
                                belongs : (tr10.complementID!=null && tr10.verbID==2), 
                                parent : (tr10.complementID!=null && tr10.verbID==3) 
                            }">{{tr13.name}}</span>
                                <ul data-ng-if='tr13.children.length!=0'>
                                    <li data-ng-repeat='tr14 in tr13'>
                                                            <span data-ng-class="{
                                    equal: (tr10.complementID!=null && tr10.verbID==1), 
                                    unset: (tr10.complementID==null), 
                                    belongs : (tr10.complementID!=null && tr10.verbID==2), 
                                    parent : (tr10.complementID!=null && tr10.verbID==3) 
                                }">{{tr14.name}}</span>
                                        <ul data-ng-if='tr14.children.length!=0'>
                                            <li data-ng-repeat='tr15 in tr14'>
                                                <span data-ng-class="{
                equal: (tr10.complementID!=null && tr10.verbID==1), 
                unset: (tr10.complementID==null), 
                belongs : (tr10.complementID!=null && tr10.verbID==2), 
                parent : (tr10.complementID!=null && tr10.verbID==3) 
            }">{{tr15.name}}</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>-->
    </li>
    
</ul>


<ul id='right'>
    <li data-ng-repeat='tr10 in tree2.data'>
        <span data-ng-class="{
                unset: (tr10.complements.length==0 && rightActiveID!=tr10.id), 
                activeul : (rightActiveID==tr10.id)
            }" id="C{{tr10.id}}" data-ng-click="setRightActive(tr10)">{{tr10.name}}</span>        
       <!-- <ul data-ng-if='tr10.children.length!=0'>
            <li data-ng-repeat='tr11 in tr10'>
                <span data-ng-class="{
                        equal: (tr10.complementID!=null && tr10.verbID==1), 
                        unset: (tr10.complementID==null), 
                        belongs : (tr10.complementID!=null && tr10.verbID==2), 
                        parent : (tr10.complementID!=null && tr10.verbID==3) 
                    }">{{tr11.name}}</span>
                <ul data-ng-if='tr11.children.length!=0'>
                    <li data-ng-repeat='tr12 in tr11'>
                        <span data-ng-class="{
                            equal: (tr10.complementID!=null && tr10.verbID==1), 
                            unset: (tr10.complementID==null), 
                            belongs : (tr10.complementID!=null && tr10.verbID==2), 
                            parent : (tr10.complementID!=null && tr10.verbID==3) 
                        }">{{tr12.name}}</span>
                        <ul data-ng-if='tr12.children.length!=0'>
                            <li data-ng-repeat='tr13 in tr12'>
                                <span data-ng-class="{
                                equal: (tr10.complementID!=null && tr10.verbID==1), 
                                unset: (tr10.complementID==null), 
                                belongs : (tr10.complementID!=null && tr10.verbID==2), 
                                parent : (tr10.complementID!=null && tr10.verbID==3) 
                            }">{{tr13.name}}</span>
                                <ul data-ng-if='tr13.children.length!=0'>
                                    <li data-ng-repeat='tr14 in tr13'>
                                                            <span data-ng-class="{
                                    equal: (tr10.complementID!=null && tr10.verbID==1), 
                                    unset: (tr10.complementID==null), 
                                    belongs : (tr10.complementID!=null && tr10.verbID==2), 
                                    parent : (tr10.complementID!=null && tr10.verbID==3) 
                                }">{{tr14.name}}</span>
                                        <ul data-ng-if='tr14.children.length!=0'>
                                            <li data-ng-repeat='tr15 in tr14'>
                                                <span data-ng-class="{
                equal: (tr10.complementID!=null && tr10.verbID==1), 
                unset: (tr10.complementID==null), 
                belongs : (tr10.complementID!=null && tr10.verbID==2), 
                parent : (tr10.complementID!=null && tr10.verbID==3) 
            }">{{tr15.name}}</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>-->
    </li>
    
</ul>
    
    </div>