<style type="text/css">
    .percok{
        background-color : lightgreen !important;
        padding : 5px;
    }
    .perclow{
        background-color : lightcoral !important;
        padding : 5px;
    }
</style>



<div data-ng-repeat="m in main">
    <h4>{{m.typeName}}</h4>
    
    <table border="1" cellpadding="5">
        <tr>
            <th></th>
            <th data-ng-repeat="master in m.masters" >{{master.name}}</th>
        </tr>
        
        <tr data-ng-repeat="ov in overview" data-ng-show="ov.typeID==m.typeID">
            
            <td>                
                {{ov.name}}
            </td>
            <td data-ng-repeat="master in m.masters" >         
                <span data-ng-show="master.id != ov.id"  
                      data-ng-class="{
                    percok : ( ov.origins[master.id]['percentage']>90),
                    perclow : ( ov.origins[master.id]['percentage']<=90)}" >
                    
                    <a href='/#/matchInterface/{{ov.id}}/{{master.id}}'>
                        {{ov.origins[master.id]['percentage']}} %
                    </a>
                </span>
                
            </td>
            
        </tr>
    </table>
</div>
<!--
<table border="1" cellpadding="5">
    <tr>
        <th></th>
        <th data-ng-repeat="m in main">{{m.name}}</th>
    </tr>
    <tr data-ng-repeat="(originID,o) in overview">
        <td>
            {{o.name}} - {{o.typeName}}
        </td>
        <td data-ng-repeat="m in main">
            <a data-ng-if="o.origins[m.id] != undefined" href='/#/matchInterface/{{originID}}/{{m.id}}'>
                {{o.origins[m.id]}}%
            </a>
            
        </td>
        
    </tr>
    
</table>
-->