<style type="text/css">
    .equal, .unset, .belongs, .parent{
        cursor : pointer;
    }
    .equal{
        border : 1px solid yellow;      
    }
    .unset{
        border : 1px solid red;
    }
    
    .activeul{
        border : 1px solid black;
        background-color : black;
        color : white;
        
    }
    ul{
        /*list-style-type: none;*/
    }
    #left{
        float : left;
        width : 40%;
        overflow : auto;
        height : 400px;
        text-align : left;
        padding : 5px;
    }
    #right{
        float : right;
        width : 350px;
        overflow : auto;
        height : 400px;
        text-align : left;
        padding : 5px;
    }
</style>


<button type='button' class='btn btn-inverse' data-ng-click='clear()' >Clear</button>
<span style="color : green">set</span>
<span style="color : darkred">unset</span>
<span style="color : blue">notEnoughJobs</span>
<span style="color : yellow">equal</span>

<br />
<span class="pull-left label label-info">{{tree1.name}}</span>
<span class="pull-right label label-info">{{tree2.name}}</span>
<div class='clear'></div>
<br />
<div>
    
    <div id='left'>
        <ul>
            <li ng-repeat="data in tree1.data" ng-include="'/partials/classifications/leftMatch.html'"></li>
        </ul>
    <!--    <ul>
            <li data-ng-repeat='tr in tree1.data'>
                
                <left-classification-match tr='tr' left-active='leftActiveID'  set-left-active='setLeftActive(tr)'></left-classification-match>
            </li>
        </ul>-->
        
    </div>
    
    <div id='right'>        
        <ul>
            <li ng-repeat="data in tree2.data" ng-include="'/partials/classifications/rightMatch.html'"></li>
        </ul>
        <!--<ul>
            <li data-ng-repeat='tr0 in tree2.data'>
                <right-classification-match tr='tr0' right-active='rightActiveID'  set-right-active='setRightActive(tr)'></right-classification-match>
            </li>
        </ul>
        -->

        
    </div>
    
    
</div>