<span data-ng-class="{unset: (data.complements.length==0 && rightActiveID!=data.id),activeul : (rightActiveID==data.id)}" 
    data-ng-click="setRightActive(data);" id="C{{data.id}}">{{data.name}} - {{data.children.length}} - {{data.id}}
</span>
<ul> 
    <li ng-repeat = "data in data.children" ng-include = "'/partials/classifications/rightMatch.html'"> </li>
</ul >