<h2>Objects / Attributes</h2>

<table border="1" cellpadding="5">
    <tr style="background-color: #7aba7b">
        <th>id</th>
        <th style='width : 400px'>object path</th>
        <th>attribute Type</th>
        <th>attribute Name</th>        
        <th>URL Name</th>    
        <th></th>
    </tr>
    <tr ng-repeat="a in attributes">
        <td>{{a.id}}</td>
        <td>
            <!--
            <select ng-model='a.path' style='width:350px' ng-change='update(a)' ng-disabled="processing">
                <option ng-selected='p==a.path' ng-repeat='p in paths' value='{{p}}'>{{p}}</option>
            </select>  -->
            {{a.path}}
        </td>
        <td>
            <!--
            <select ng-model='a.attributeType' style='width:100px' ng-change='update(a)' ng-disabled="processing">
                <option ng-selected='a.attributeType=="property"' value='property'>Property</option>
                <option  ng-selected='a.attributeType=="method"' value='method'>Method</option>
            </select>-->
            {{a.attributeType}}
        </td>
        <td>
            <!--
            <select ng-model="a.attributeName" ng-disabled="processing">
                <option ng-selected="a.attributeName==n" ng-repeat="n in attributeChoice[a.path][a.attributeType]" value="{{n}}">{{n}}</option>
            </select>     -->
            {{a.attributeName}}
        </td>
        <td>
            {{a.urlName}}
        </td>
        <td>
            <!--<button type="button" ng-click="save(a)" ng-disabled="processing || adminTest">Save</button>-->
            <button type="button" ng-click="delete(a)" ng-disabled="processing || testAdmin">Delete</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <select ng-model='na.path' style='width:350px' ng-change='update(na)' ng-disabled="processing">
                <option ng-repeat="p in paths " value='{{p}}'>{{p}}</option>
            </select>            
        </td>
        <td>
            <select ng-model='na.attributeType' style='width:100px' ng-change="update(na)" ng-disabled="processing">
                <option value='property'>Property</option>
                <option  value='method'>Method</option>
            </select>
        </td>
        <td>
            <select ng-model="na.attributeName" ng-disabled="processing" ng-change="setAdler(null)">
                <option ng-repeat="n in attributeChoice[na.path][na.attributeType] " value="{{n}}">{{n}}</option>
            </select>
            
        </td>
        <td>
            {{na.urlName}}
        </td>
        <td>
            <button type='button' ng-disabled="processing" ng-click="create(na)">Create</button>
                
        </td>
    </tr>
</table>