<h2>Instanciators Admin</h2>



<table border="1" cellpadding="5">
    <tr>
        <th>1</th>
        <th>Path</th>
        <th>Function Name</th>
        <th>Error</th>
        <th></th>
    </tr>
    <tr ng-repeat="i in instanciators">
        <td>
            {{i.id}}
        </td>
        <td>
            {{i.path}}
        </td>
        <td>
            {{i.functionName}}
        </td>
        <td style="text-align : left;">
            <span style='color: #00cc33;font-weight : bold;' ng-show="i.error==false">
                OK
            </span>
            <span style="color: #990033;font-weight : bold;" ng-show="i.error!=false">
                {{i.error}}
            </span>
        </td>
        <td>
            <button type='button' ng-click='delete(i)'  ng-disabled="processing || testAdmin">Delete</button>
        </td>
    </tr>
    <tr>
        <td>NEW</td>
        <td>
            <select ng-model="ni.path" ng-change="ni.attributes=[]">
                <option value='t'>test</option>
                <option ng-selected="ni.path==p" ng-repeat="p in paths" value="{{p}}">{{p}}</option>
            </select>
        </td>
        
        <td>
            <select ng-model="na">
                <option  ng-repeat="a in availableAttributes[ni.path]" value="{{$index}}">{{a.longName}}</option>
            </select>
            <button type="button" ng-click="addAttribute(na)">+</button>
        </td>
        <td>
            <ul>
                <li ng-repeat="a in ni.attributes">{{a.longName}}</li>
            </ul>            
        </td>
        <td>
            <button type="button" ng-click="create(ni)">Create</button>
        </td>        
    </tr>
</table>