<h2>Literals</h2>

<table border="1" cellpadding="5">
    <tr style="background-color: #7aba7b">
        <th>id</th>
        <th>name</th>
        <th>type</th>
        <th></th>
    </tr>
    <tr ng-repeat="l in literals">
        <td>{{l.id}}</td>
        <td>
            <input type="text" ng-model="l.name" />
        </td>
        <td>
            <select ng-model="l.type">
                <option ng-selected="l.type=='string'" value='string' ng-disabled="processing">string</option>
                <option ng-selected="l.type=='integer'" value='integer'  ng-disabled="processing">integer</option>
            </select>
        </td>
        <td>
            <button type='button' ng-click='save(l)' ng-disabled="processing || testAdmin">Save</button>
        </td>
    </tr>
    <tr>
        <td>NEW</td>
        <td>
            <input type="text" ng-model="nl.name" ng-disabled="processing" />
        </td>
        <td>
            <select ng-model="nl.type"  ng-disabled="processing">
                <option  value='string'>string</option>
                <option  value='integer'>integer</option>
            </select>
        </td>
        <td>
            <button type='button' ng-click='create(nl)' ng-disabled="processing">Save</button>
        </td>
    </tr>
