<h2>Url Names</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>id</th>
        <th>name</th>
        <th></th>
    </tr>
    
    
    <tr ng-repeat="un in unames">
        <td>{{un.id}}</td>
        <td>
            <input type="text" ng-model="un.urlName" pattern="[a-zA-Z]+" required ng-disabled="processing" />
        </td>
        <td>
            <button type="button" ng-click="save(un)" ng-disabled="processing || testAdmin" >Save</button>
            <button type="button" ng-click="delete(un)" ng-disabled="processing || testAdmin" >Delete</button>
        </td>
    </tr>
    
    <tr>
        <td>NEW</td>
        <td>
            <input type="text" ng-model="u.urlName" pattern="[a-zA-Z]+" required ng-disabled="processing" />
        </td>
        <td>
            <button type="button" ng-click="create(u)" ng-disabled="processing" >Create</button>
        </td>
    </tr>
    
</table>