<style type="text/css">
    textarea{
        width : 350px !important;
        height : 180px !important;
        background-color : #ffffcc;
        font-size : 11px;
    }
    span.param{
        background-color: #ccffcc;
        margin : 5px;
        padding : 5px;
        border : 1px solid #ebebeb;
        float:left;
    }
    span.func{
        background-color: #ccffff;
        margin : 5px;
        padding : 5px;
        border : 1px solid #ebebeb;
        float:left;
    }
    
</style>

<h4>Available Functions</h4>
<span ng-repeat="f in availableVariables['availableFunctions']" class="func">{{f}}</span>
<div style="clear:both"></div>
<h4>Available Parameters</h4>
<span ng-repeat="f in availableVariables['availableParams']" class="param">{{f}}</span>
<div style="clear:both"></div>

<h2>Seo Pages</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>urlNameID</th>
        <th>name</th>
        <!--<th>special Function</th>-->
        <th>default Title</th>
        <th>default Description</th>
        <th>default custom text</th>
        <th></th>
    </tr>
    
    <tr ng-repeat="seo in seoPages">
        <td>{{seo.urlID}}</td>
        <td>
            {{seo.urlName}}
        </td>
        <!--<td>
            <select ng-model='seo.specialFunction'  ng-disabled='processing || testAdmin'>
                <option ng-repeat='special in specialFunctions' ng-selected='special==seo.specialFunction' value='{{special}}'>{{special}}</option>
            </select>            
        </td>-->
        <td>
            <textarea ng-model='seo.defaultTitle'  ng-disabled='processing'></textarea>
        </td>
        <td>
            <textarea ng-model='seo.defaultDescription'  ng-disabled='processing'>
            </textarea>
        </td>
        <td>
            <textarea ng-model='seo.defaultCustomText' ng-disabled='processing'>
            </textarea>
        </td>
        <td>
            <button type='button' ng-click='save(seo)' >Save</button>
            <button type='button' ng-click='delete(seo)'  ng-disabled='processing || testAdmin'>Delete</button>
        </td>
        
    </tr>
    
    
    
</table>
