<div class="modal">

    <div class="modal-header">
        <h3>URLs</h3>
    </div>
    <div class="modal-body">
        <span data-ng-repeat="url in urls">            
            <a href="{{url.url}}">[ {{url.nb}} ] {{url.url}}</a><br />
            <div>{{url.debug}}</div>
        </span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</div>