<h4>Resolution Errors</h4>

<table data-ng-repeat="report in reports" class="table table-bordered">
    <tbody>
        <tr>
            <th colspan="3">{{report.name}}</th>
        </tr>
        <tr>
            <th style="width : 31%">Location</th>
            <th style="width : 31%">Industry</th>
            <th style="width : 31%">Employment Type</th>
        </tr>

        <tr>
            <td style="width : 31%">
                <table data-ng-show="report.totalLocation > 0" class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Status</th>
                            <th>NB</th>
                            <th>Against Master</th>
                        </tr>
                        <tr data-ng-repeat="loc in report.location">
                            <td>
                                <a href="/#/multipleMatchsResolutionErrors/{{report.id}}/1/{{loc.originID}}" data-ng-show="loc.statusID==4">
                                    {{loc.statusName}}    
                                </a>
                                <span data-ng-show="loc.statusID!=4">
                                    {{loc.statusName}}    
                                </span>
                            </td>
                            <td>{{loc.nb}}</td>
                            <td>{{loc.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width : 31%">
                <table data-ng-show="report.totalIndustry > 0" class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Status</th>
                            <th>NB</th>
                            <th>Against Master</th>
                        </tr>
                        <tr data-ng-repeat="ind in report.industry">
                            <td>
                                <a href="/#/multipleMatchsResolutionErrors/{{report.id}}/2/{{ind.originID}}" data-ng-show="ind.statusID==4">
                                    {{ind.statusName}}    
                                </a>
                                <span data-ng-show="ind.statusID!=4">
                                    {{ind.statusName}}    
                                </span>
                            </td>
                            <td>{{ind.nb}}</td>
                            <td>{{ind.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width : 31%">
                <table data-ng-show="report.totalEmploymentType > 0" class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Status</th>
                            <th>NB</th>
                            <th>Against Master</th>
                        </tr>
                        <tr data-ng-repeat="emp in report.employmentType">
                            <td>
                                <a href="/#/multipleMatchsResolutionErrors/{{report.id}}/5/{{emp.originID}}" data-ng-show="emp.statusID==4">
                                    {{emp.statusName}}    
                                </a>
                                <span data-ng-show="emp.statusID!=4">
                                    {{emp.statusName}}    
                                </span>
                                </td>
                            <td>{{emp.nb}}</td>
                            <td>{{emp.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>

</table>