<ul class="nav nav-tabs nav-stacked">
    <li data-ng-repeat="s in status">
        <b><a href="{{s.url}}" target="_BLANK">{{s.websiteName}}</a> : </b><i>{{s.executionTime}}</i>
        <span class="label label-info" data-ng-show="s.running=='1'">Running</span>
        <span class="label label-important"  data-ng-show="s.queue=='1'">Queued</span>
        <span class="label label-warning"  data-ng-show="s.debug.error!=''">Error</span>
        <span class="label label-success"  data-ng-show="s.running=='0' && s.queue=='0' && s.debug.error==''">OK</span>
        <br />
        <span data-ng-show="s.running=='0' && s.debug.error==''">
            Nb Jobs : {{s.debug.nbJobs}}
        </span>
        <div class="alert" data-ng-show="s.debug.error!=''">{{s.debug.error}}</div>
    </li>
</ul>