<style type="text/css">
    td.ok{
        color : green;
    }
    td.error{
        color : red;
        font-weight : bold;
    }
    .shapeshift .child{
        min-height : 50px;
    }

</style>
<h3>Spiders General report</h3>


<tabset vertical="true" justified="true" direction="left">
    <tab data-ng-repeat="(i,stats) in generalStats" heading="{{stats.name}}">
        <h4>{{stats.name}}</h4>
        <div style="position: relative;width : 100%" class="shapeshift">
            <div class="well pull-left">
                <h5>general Stats</h5>

                <table border="1" cellpadding="5">
                    <tr data-ng-repeat="(key,val) in stats.data">
                        <td>{{key}}</td>
                        <td data-ng-class="{ true : 'ok', false : 'error'
                            }
                            [val == 'OK']">
                            {{val}}</td>
                    </tr>                
                </table>
            </div>

            <div class="well pull-left">
                <h5>Figures</h5>

                <table border="1" cellpadding="5">
                    <tr data-ng-repeat="(key,val) in stats.nb">
                        <td>{{key}}</td>
                        <td>{{val}}</td>
                    </tr>

                </table>

            </div>



            <div class="well pull-left">

                <h5>Search URL Errors</h5>

                <table border='1' cellpadding='5'>
                    <tr>
                        <th>
                            SEARCH Error Name
                        </th>
                        <th>
                            Number
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    <tr data-ng-repeat='data in stats.search'>
                        <td>
                            {{data.name}}
                        </td>
                        <td>
                            {{data.total}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" data-ng-click="loadSearchErrors(i, data.errorID)">Show URLs</button>
                        </td>
                    </tr>
                </table>
                <hr />
                <h5>Job URL Errors</h5>


                <table border='1' cellpadding='5' >
                    <tr>
                        <th>
                            JOB Error Name
                        </th>
                        <th>
                            Number
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    <tr data-ng-repeat='data in stats.job'>
                        <td>
                            {{data.name}}
                        </td>
                        <td>
                            {{data.total}}
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>

            <div class="clearfix"></div>
            
            <div google-chart chart="stats.timeChart" style="{{stats.timeChart.cssStyle}}"/>
            
            <div google-chart chart="stats.statChart" style="{{stats.statChart.cssStyle}}"/>
            
                
                
            

            <div style="clear : both"></div>

        </div>

    </tab>    
</tabset>
