

<div id="context" style="position:absolute;width : 80%;height : 80%;z-index : 1000;top : 10%;left : 10%;background-color : #fff;border : 1px solid #000;display : none">
    <button data-ng-click="hideContext()">Hide</button>
    <pre id="contextData">
        {{currentContext}}
    </pre>
</div>


<div style="float : left;width : 250px;overflow : auto;height : 700px;">
    <h3>Spider Label LIst</h3>
    
    <div data-ng-repeat="(i,spider) in spiders" >
        
        
        
        <div style="float: left;width : 100%">
            <label class="label label-success " data-ng-click="filterSpider(spider)" data-ng-show="spider.enable==true">{{spider.websiteURL}}</label> 
            <label class="label label-important" data-ng-click="filterSpider(spider)" data-ng-show="spider.enable==false">{{spider.websiteURL}}</label>   
            <a href="/#/spider/results/{{spider.id}}" class="small">[jobs]</a>
            <br />
            <label class="label label-info pull-left" style="margin-right : 20px;">{{spider.runningStatus}}</label> 
            
            <button type="button" class="btn btn-link btn-mini pull-right" data-ng-show="spider.runningStatus=='not running'" data-ng-click="launchSpider(spider)">Launch Spider</button>
            <button type="button" class="btn btn-link btn-mini pull-right" data-ng-show="spider.runningStatus!='not running'" data-ng-click="stopSpider(spider)">Stop Spider</button>
            
            
        </div>
        
    </div>
</div>

<div style="float : right;width : 1450px;border-left : 4px solid red">
    <span data-ng-repeat="l in logTypes" >
        <button  data-ng-click="filterLogType(l)" class="btn btn-small" 
                data-ng-class="{'btn-success': l.selected==true,'btn-danger': l.selected==false}">
            {{l.name}}
        </button>
    </span>
</div>



<div style="float : right;width : 1450px;overflow : auto;height : 700px;border-left : 4px solid grey">
    <table border="1" class="table  table-hover">
        <tr>
            <th>Date</th>
            <th>Spider Name</th>
            <th>Message</th>
            <th>Type</th>
            <th>File/Line</th>
            <th></th>        
        </tr>

        <tr data-ng-repeat="log in spiderLogs">
            <td>{{log.errorDate}}</td>
            <td>{{log.spiderName}}</td>
            <td>{{log.message}}</td>
            <td>{{log.logTypeName}}</td>
            <td>[{{log.scriptLine}}] <b>in</b> {{log.scriptPath}}</td>
            <td><button type="button" class="btn btn-mini" data-ng-click="showContext(log)">See Context</button></td>
        </tr>

    </table>
</div>
