<div class="alert">
    Before creating a spider, double check the type of jobs published, and the data you can retrieve. Check as well of often these data are published (Company Name, Town, Employment type).    
</div>



<div class="panel panel-info">
    <div class="panel-heading">
        Spider creation form
    </div>
    <form name="originForm" class="form-horizontal form-horizontal-normal">
        <div class="panel-body">
            
            <horizontal-form label="Origin"
                             help='Choose the origin for this spider.'>
                <origin-autocomplete oid='spider.originID' class='input-xlarge' required name="spider.originName"></origin-autocomplete>
                
            </horizontal-form>

            <horizontal-form label="Country"
                             help="The jobs country.">
                <country-autocomplete lid="spider.countryID" class='input-xlarge' required name="countryName"></country-autocomplete>                
            </horizontal-form>
            

        </div>
        <div class="panel-footer text-center">
            <button type="button" data-ng-click="create()" data-ng-disabled="createForm.$valid == false">Create this spider</button>
        </div>
    </form>
</div>


