<br />
<div class="panel panel-info ">
    <div class="panel-heading text-center panel-title">
        Spider edition form
    </div>
    <form name="originForm" class="form-horizontal form-horizontal-normal">
        <div class="panel-body">
            <div class="alert" data-ng-show="error">
                {{errorMsg}}
            </div>
            
            <horizontal-form label="Origin" 
                             help="Choose the origin who provides this spider.">
                <origin-autocomplete oid='spider.originID'  required name="spider.originName"></origin-autocomplete>
                
            </horizontal-form>

            <horizontal-form label="Country"
                             help="The jobs country.">
                <country-autocomplete lid="spider.countryID" class='input-xlarge' required name="countryName"></country-autocomplete>
            </horizontal-form>
            
           
        </div>
        
        <div class="panel-footer text-center">
            <button type="button" data-ng-click="save()" data-ng-disabled="originForm.$valid == false || processing">Save</button>
        </div>
    </form>
</div>


