<h3>"{{spider.name}}" Importation Manager</h3>

<h4>Classification Imported</h4>

<ul>
    <li data-ng-repeat="data in importedTypes">
        {{data.nb}} {{data.type.name}} classifications
        <button type="button" class="btn btn-small" data-ng-click="remove(data)">Delete</button>
    </li>
</ul>


<h4>Available Yaml files</h4>
<ul>
    <li data-ng-repeat="(i,file) in availableFiles">
        {{i}} - {{file.data.length}} data errors - {{file.parsing.length}} parsing errors
        <button type="button" data-ng-click="show(i)" data-ng-show="status(i)==false">see all</button>
        <button type="button" data-ng-click="hide(i)" data-ng-show="status(i)==true">hide</button>
        <button type="button" data-ng-click="process(i)">Process</button>
        <ul data-ng-show="status(i)==true">
            <li data-ng-repeat="msg in file.data">{{msg}}</li>
        </ul>
    </li>
</ul>


<div class="output">
    <ul>
        <li data-ng-repeat="l in logs">{{l}}</li>
    </ul>
</div>

