<style>
    input,select{
        width : 500px;
    }
    input.with{
        width : 150px;
    }
    select.type{
        width : 150px;
    }
</style>
<h3>Regex '{{spiderConfig.regexNames.name}}'  definition</h3>

<label class="label label-info" data-ng-show="spiderConfig.validateJob==true">This Regex Makes a job Valid</label>
<label class="label label-info" data-ng-show="spiderConfig.validateJob==false">This Regex doesn't makes a job Valid</label>
<label data-ng-show="spiderConfig.status==0" class="label label-warning" >Not set</label>
<label data-ng-show="spiderConfig.status==1" class="label label-warning">One or more regex Invalid</label>
<label data-ng-show="spiderConfig.status>=2" class="label label-info" >All regex Valid</label>
<label data-ng-show="spiderConfig.status==3" class="label label-info" >Testing...</label>
<label data-ng-show="spiderConfig.status==4" class="label label-warning" >Fail test</label>
<label data-ng-show="spiderConfig.status==5" class="label label-success" >PASS</label>
<br />
<button type="button" class="btn btn-info" data-ng-click="test()" data-ng-show="spiderConfig.status>=2 && spiderConfig.status!=3">Launch Test</button>
<hr />
<h4>Regexes definition</h4>

<table border='1'>
        <tr>
            <th>Regex Type</th>
            <th>Regex Expression</th>
            <th>Replace with </th>
            <th>Actions</th>
        </tr>
        <tr  data-ng-repeat="regex in regexes">
            <td>
                <select data-ng-model="regex.regexTypeID" class="type">
                    <option data-ng-repeat="type in regexTypes" value='{{type.id}}' data-ng-selected="type.id==regex.regexTypeID">{{type.name}}</option>
                </select>
            </td>
            <td>
                <input type="text" data-ng-model="regex.expression" />
                <label data-ng-show="regex.valid==true" class="label label-success">valid</label>
                <label data-ng-show="regex.valid==false" class="label label-warning">invalid</label>
            </td>
            <td>
                <input data-ng-show="regex.regexTypeID==3" type="text" data-ng-model="regex.options" class="with" />
            </td>
            <td>
                <button type="button" data-ng-click="edit(regex)">Edit</button>
                <button type="button" data-ng-click="remove(regex)">Delete</button>
            </td>
        </tr>
</table>


<hr />
<h4>Add a regex after
    <select data-ng-model="newregex.previousRegexID" >
        <option data-ng-repeat="regex in regexes" value="{{regex.id}}">{{regex.expression}}</option>
    </select>
</h4>
<form name="appendRegex">

    <table border='1'>
        <tr>
            <th>Regex Type</th>
            <th>Regex Expression</th>
            <th data-ng-show="newregex.regexTypeID==3">Replace with </th>
        </tr>

        <tr>
            <td>
                <select data-ng-model="newregex.regexTypeID"  class="type">
                    <option data-ng-repeat="type in regexTypes" value='{{type.id}}'>{{type.name}}</option>
                </select>
            </td>
            <td>
                <input type="text" data-ng-model="newregex.expression"  />
            </td>
            <td  data-ng-show="newregex.regexTypeID==3">
                <input type="text" data-ng-model="newregex.options"  class="with"/>
            </td>

        </tr>

    </table>
    <button type="button" data-ng-click="add(newregex)" data-ng-disabled="processing">Add</button>
</form>
