<h3>Required Job Data for '{{spider.name}}'</h3>

<div  data-ng-repeat="group in regexURLGroups" >
    <h4>{{group.name}}</h4>
    <ul class="list-group" data-ng-show="group.id==1 || (group.id==2 && available.enoughJobs==true) || group.id==3">
        <li class="list-group-item" data-ng-repeat="regex in regexNames[group.id]">
            <input type="checkbox" data-ng-model="definition[regex.id].required" data-ng-disabled="regex.required==true || processing" data-ng-change="save()"/>
            <label data-ng-show="definition[regex.id].status==0" class="label label-important" data-ng-click="admin(definition[regex.id].id)">Not set</label>
            <label data-ng-show="definition[regex.id].status==1" class="label label-important" data-ng-click="admin(definition[regex.id].id)">One or more regex Invalid</label>
            <label data-ng-show="definition[regex.id].status>=2" class="label label-info" data-ng-click="admin(definition[regex.id].id)">All regex Valid</label>
            <label data-ng-show="definition[regex.id].status==3" class="label label-info" data-ng-click="admin(definition[regex.id].id)">Testing...</label>
            <label data-ng-show="definition[regex.id].status==4" class="label label-important" data-ng-click="admin(definition[regex.id].id)">Fail test</label>
            <label data-ng-show="definition[regex.id].status==5" class="label label-success" data-ng-click="admin(definition[regex.id].id)">PASS</label>

            {{regex.name}}

            <a href="/#/testRegex/{{spider.id}}/{{definition[regex.id].id}}"
               data-ng-show="(group.id==1 && definition[regex.id].status>=2) || (group.id==2   && definition[regex.id].status>=2 && available.enoughJobs==true && available.regexValids==true)" >Launch Test</a>
            <br />

            <span data-ng-show="regex.required==false" >
                <input type="checkbox" data-ng-model="definition[regex.id].validateJob" data-ng-disabled="definition[regex.id].required == false  || processing"   data-ng-change="save()"/> Must be set to make a job valid
            </span>


        </li>
    </ul>

    <div data-ng-show="group.id==1 && available.regexValids==true">

        <div class="label label-info" data-ng-show='available.enoughJobs==false'>There is not enought jobURL data in the database. Please run 'cmd' or click on this button to populate 1000 jobs.
            <button type='button' class='btn btn-small btn-important' data-ng-click='populate()'>populate</button>
        </div>
        <br />
        <div class='label label-success' data-ng-show='available.enoughJobs==true'>There is enough Data in processed to launch a test on the jobPASS</div>
    </div>
</div>