<style type='text/css'>
    span.key{
        color : blue;
        margin-left : 10px;
    }

    span.value{
        color : green;

    }
    .job-details{
        float : left;
        width : 30%;
        height : 160px;
    }
    .job-overflow{
        height : 150px;
        width : 70%;
        float:left;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .job-overflow .key{
        font-size : 12px;
    }

    .job-overflow .value{
        font-size : 11px;
    }

    .job-classification{        
        width : 100%;
        float:left;
    }

    
    th.resolved{
        color : darkgreen;
    }
    th.unresolved{
        color : darkred;        
    }
    div.job{
        border : 1px solid #EBEBEB;
        background-color : #EBEBEB;
        padding : 2%;
        margin : 2%;
    }
</style>
<div style="float:left; width : 100%;border : 1px solid grey;">
    
    JobURLID : 
    <input type="text" data-ng-model="jobURLID" class="input input-mini"/>
    <button type="button" data-ng-click="loadJobURLID()" class="btn btn-default btn-mini">Find</button>
    
    JobID : <input type="text" data-ng-model="jobID" class="input input-mini" />
    <button type="button" data-ng-click="loadJobID()"  class="btn btn-default btn-mini">Find</button>
    
</div>

<div style="float:left; max-width : 200px;border : 1px solid grey">


    <ul class="nav nav-list">
        <li class="nav-header">Locations</li>
        <li data-ng-repeat="l in locations" data-ng-class="{active : (l.id == currentLocation.id)}">
            <a href data-ng-click="setLocation(l)">{{l.name}}</a>
        </li>
    </ul>

</div>


<div style="float:left; max-width : 300px;border : 1px solid grey">


    <ul class="nav nav-list">
        <li class="nav-header">Industries</li>
        <li data-ng-repeat="i in industries" data-ng-class="{active : i.id == currentIndustry.id}">
            <a href data-ng-click="setIndustry(i)">{{i.name}}</a>
        </li>
    </ul>

</div>

<div style="float:left; max-width : 200px;border : 1px solid grey">


    <ul class="nav nav-list">
        <li class="nav-header">Job Status</li>
        <li data-ng-repeat="s in status" data-ng-class="{active : s.id == currentStatus.id}">
            <a href data-ng-click="setStatus(s)">{{s.name}}</a>
        </li>
    </ul>

</div>



<div style="float:right;width : 1000px;">
    <h4>{{foundRows}} jobs</h4>

    <div class="job"  data-ng-repeat='r in results' style='float:left;width : 1000px;'>
        <a  href="{{r.url}}" target="_BLANK">{{r.title}}</a>
        <br />
        <div class="clear"></div>
        <div class="job-details">
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <tr>
                        <td>jobURLID</td>
                        <td>{{r.jobURLID}}</td>                            
                    </tr>
                    <tr>
                        <td>jobID</td>
                        <td>{{r.jobID}}</td>
                    </tr>
                    <tr>
                        <td>Added</td>
                        <td>{{r.addedDate}}</td>
                    </tr>
                    <tr>
                        <td>Updated</td>
                        <td>{{r.lastSpiderDate}}</td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td>{{r.companyName}}</td>
                    </tr>
                    <tr>
                    <tr>
                        <td>Client Ref</td>
                        <td>{{r.jobReference}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="job-overflow" >



            <span class='key'>Education : </span> 
            <span class='value'>{{r.education}}</span> 
            <br />
            <span class='key'>Requirements : </span> 
            <span class='value'>{{r.requirements}}</span> 
            <br />
            <span class='key'>Description 1 : </span> 
            <span class='value'>{{r.description}}</span> 
            <br />
            <span class='key'>Description2 : </span> 
            <span class='value'>{{r.description2}}</span> 
        </div>
        <div class="job-classification">
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <tr>
                        <th colspan="2" data-ng-class="{'resolved' : (r.location.resolved == true),'unresolved' : (r.location.resolved == false)}">Location</th>                        
                    </tr>
                    <tr>
                        <td class='key'>UrlData</td> 
                        <td>
                            <span class='value' data-ng-repeat="place in r.location.urlData">
                                {{place}} <br />
                            </span>            
                        </td>
                    </tr>
                    <tr>
                        <td class='key'>City</td> 
                        <td>
                            {{r.location.city}}      
                        </td>
                    </tr>
                    <tr data-ng-repeat="name in r.location.names">
                        <td>{{name.originName}}</td>
                        <td>{{name.name}}</td>
                    </tr>
                    
                </tbody>
            </table>

             <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <tr>
                        <th colspan="2" data-ng-class="{'resolved' : (r.industry.resolved == true),'unresolved' : (r.industry.resolved == false)}">Industry</th>                        
                    </tr>
                    <tr>
                        <td class='key'>UrlData</td> 
                        <td>
                            <span class='value' data-ng-repeat="place in r.industry.urlData">
                                {{place}} <br />
                            </span>            
                        </td>
                    </tr>
                    <tr data-ng-repeat="name in r.industry.names">
                        <td>{{name.originName}}</td>
                        <td>{{name.name}}</td>
                    </tr>
                    
                </tbody>
            </table>
            
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <tr>
                        <th colspan="2" data-ng-class="{'resolved' : (r.employmentType.resolved == true),'unresolved' : (r.employmentType.resolved == false)}">Employment Type</th>                        
                    </tr>
                    
                    <tr>
                        <td class='key'>Original Name</td> 
                        <td>
                            {{r.employmentType.employmentType}}      
                        </td>
                    </tr>
                    <tr>
                        <td class='key'>Resolved Name</td> 
                        <td>
                            {{r.employmentType.name}}      
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>

        </div>
        <div class="clear"></div>
    </div>
</div>