<h3>Test '{{regexName}}' for "{{spider.name}}"</h3>


<center  data-ng-show="processing" style="margin-top : 100px;">
    <img src="http://jscommon:8181/css/images/preload.gif" style="" />
</center>


<accordion close-others="true" data-ng-hide="processing">
    <accordion-group data-ng-repeat="(url,data) in testData.curlSuccess">
        <accordion-heading>
            <button type="button" class="btn btn-warning btn-small" data-ng-click="setPass(url, data)" data-ng-show='passData[url]!=true'>Mark as Passed</button>
            <button type="button" class="btn btn-danger btn-small" data-ng-click="setFail()" data-ng-show='passData[url]!=true'>Mark as Failed</button>
            <label class='label label-success' data-ng-show='passData[url]==true'>PASSED</label>
            <a href="{{url}}" target="_BLANK">{{url}}</a>
        </accordion-heading>
        <ul data-ng-show='spiderConfig.regexNames.regexGroupID==1'>
            <li data-ng-repeat="content in data">
                <pre>{{content}}</pre>
            </li>
        </ul>
        <div data-ng-show='spiderConfig.regexNames.regexGroupID==2'>
            <pre>{{data}}</pre>
        </div>
    </accordion-group>
</accordion>

