<style>
    div.container{
        width : 45%;
        float : left;
        padding : 1%;
        margin : 1%;
        border : 1px solid #191919;
        background-color : #EBEBEB;
    }

    div.testContainer{
        width : 45%;
        float : left;
        padding : 1%;
        margin : 1%;
        border : 1px solid #191919;
        background-color : #BEBEBE;
        height : 300px;/*put 450px when debug done*/

    }
    div.testContainer .list{
        overflow : auto;
        width : 100%;
        height : 250px;
    }
    input.narrow{
        width : 50px;
    }
</style>


<div  class='panel panel-success pull-left' style="width : 45%;margin-top : 10px">
    <div class="panel-heading panel-title">
          Search URL Builder
    </div>

    <div class="panel-body">
        <h4>Query URL</h4>
        <hr />
        <ul data-ui-sortable='sortableOptions' data-ng-model="urlBuilder" class="list-group">
            <li data-ng-repeat='u in urlBuilder track by $index' data-key="{{u.key}}"  data-value="{{u.value}}"  class="list-group-item">
                <b>{{u.key}}</b>  <i>{{u.value}}</i> <u data-ng-show="u.key == 'cID' || u.key == 'nameID'">lvl: {{u.maxLevel}} </u>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" data-ng-click="removePart(u)" class="btn-danger btn btn-mini">Remove</button></li>
        </ul>

        <h5>* Add a new url component</h5>

        <select data-ng-model="newUrlComponent.key">
            <option value="string">String</option>
            <option value="cID">Context ID</option>
            <option value="nameID">Classification Name</option>
            <option value="pageString">Page (String) </option>
            <option value="pageNumber">Page (Number) </option>
        </select>

        <span data-ng-show="newUrlComponent.key == 'string' || newUrlComponent.key == 'pageString'">
            <input type="text" data-ng-model="newUrlComponent.value" />
        </span>

        <span data-ng-show="newUrlComponent.key == 'cID' || newUrlComponent.key == 'nameID'">
            <select data-ng-model="newUrlComponent.value">
                <option data-ng-repeat="(i,data) in importedTypes" value="{{data.type.id}}">{{data.type.name}}</option>
            </select>
            Max Level : 
            <select data-ng-model='newUrlComponent.maxLevel' class='input-mini'>
                <option value='0' selected>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
            </select>
        </span>
        <button type="button" data-ng-click="addUrlComponent()" data-ng-disabled='processing' class="btn">Add</button>

        <hr />
        <h4>POST Forms</h4>
        <hr />

        <h5>Define a new POST parameter</h5>
        <form class="form-horizontal form-horizontal-normal">
            <horizontal-form label="Parameter Name">
                <input type="text" data-ng-model="newPOST.name"  class="input-large" /> 
            </horizontal-form>

            <horizontal-form label="Parameter Value">
                <select data-ng-model="newPOST.key">
                    <option value="string">String</option>
                    <option value="cID">Context ID</option>
                    <option value="nameID">Classification Name</option>
                    <option value="pageString">Page (String) </option>
                    <option value="pageNumber">Page (Number) </option>
                </select>

                <span data-ng-show="newPOST.key == 'string' || newPOST.key == 'pageString'">
                    <input type="text" data-ng-model="newPOST.value" />
                </span>

                <span data-ng-show="newPOST.key == 'cID' || newPOST.key == 'nameID'">
                    <select data-ng-model="newPOST.value">
                        <option data-ng-repeat="(i,data) in importedTypes" value="{{data.type.id}}">{{data.type.name}}</option>
                    </select>
                </span>
                <button type="button" data-ng-click="addPOST()" data-ng-disabled='processing' class="btn ">Add</button>
            </horizontal-form>


        </form>
        <ul data-ui-sortable='sortableOptions' data-ng-model="POST" class="list-group">
            <li data-ng-repeat='p in POST' data-key="{{p.key}}"  data-value="{{p.value}}"  class="list-group-item"><b>{{p.name}}</b> : [{{p.key}}] -> <i>{{p.value}}</i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" data-ng-click="removePOST(p)" class="btn-danger btn btn-mini">Remove</button></li>
        </ul>



    </div>

</div>
<div  class='panel panel-danger pull-left' style="width : 45%;margin-top : 10px;margin-left : 10px;">
    <div class="panel-heading panel-title">
        Preferences
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-horizontal-normal">

            <horizontal-form label="JobURL Prefix" help="When the jobURL is relative, we prepend this string to it : Should start with http://">
                <input type="text" data-ng-model="preferences.jobURLPrefix" data-ng-change="savePreferences()"  class="input-xlarge" /> 
            </horizontal-form>
            <horizontal-form label="Max pages">
                <input type="number" data-ng-model="preferences.nbPages" data-ng-change="savePreferences()"  class="input-mini" /> 
            </horizontal-form>
            <horizontal-form label=" Nb Jobs / pages">
                <input type="number" data-ng-model="preferences.nbJobsPerPage"  data-ng-change="savePreferences()"  class="input-mini"/>
            </horizontal-form>
            <horizontal-form label="First page NUmber" help="[0 or 1]. First Pagination Number">
                <input type="number" data-ng-model="preferences.paginationStartNumber"   data-ng-change="savePreferences()"  class="narrow"/>
            </horizontal-form>
            <horizontal-form label="First Page parameter"
                             help="[check=yes] Does the first result page URL must contain the page attribute ?">
                <input type="checkbox" data-ng-model="preferences.firstPagePagination"  data-ng-change="savePreferences()"  />
            </horizontal-form>

            <horizontal-form label="Curl tresold" help="Acceptable Curl Error Percentage (default = 1)">
                <input type="number" data-ng-model="preferences.acceptableCurlFailPercent" data-ng-change="savePreferences()"  required  class="input-mini" />
            </horizontal-form>
            <horizontal-form label="Job Error Treesold"  help="Acceptable Invalid Job Error Percentage (default = 5)">
                <input type="number" data-ng-model="preferences.acceptableInvalidJobPercent" data-ng-change="savePreferences()"  required  class="input-mini" />
            </horizontal-form>
        </form>
    </div>
</div>

<div class="clear" /><hr />
<center>
    {{urlBuilderStatus}}
    <button type="button" class="btn-large btn" data-ng-show="urlBuilderStatus >= 2" data-ng-click="generate()"
            data-ng-disabled="processing">Generate Urls</button>
    <button type="button" class="btn-large btn" data-ng-click="testCurl()"
            data-ng-show="searchURLs.length>10 && urlBuilderStatus >= 4" data-ng-disabled="processing">Test Curl</button>
    {{searchURLs.length}}
    <button type="button" class="btn-large btn" data-ng-click="setStatus(4)">Bug, set status to 4</button>
    <button type="button" class="btn-large btn" data-ng-click="setStatus(2)">Bug, set status to 2</button>
    <button type="button" class="btn-large btn" data-ng-click="setStatus(7)">Bug, set status to 7</button>    
</center>
<hr />
<center data-ng-show="processing == true">
    <b>Generating / Testing.... Please wait.</b>
    <hr />
</center>


<div class="testContainer" data-ng-show="urlGenerated == true || urlBuilderStatus >= 4">
    <h4>
        Generated URLs
        <button type="button" class=" btn btn-success" data-ng-show="searchURLs.length > 10 && urlBuilderStatus < 4" data-ng-click="passGenerated(true)" data-ng-disabled="processing">PASS</button>
        <button type="button" class=" btn btn-danger" data-ng-show="searchURLs.length > 10 && urlBuilderStatus < 4"  data-ng-click="passGenerated(false)" data-ng-disabled="processing">FAIL</button>
        <label class="label-success label" data-ng-show="urlBuilderStatus >= 4">PASSED</label>
    </h4>

    <div class="list" >
        <ul style="text-align : left;list-style : none">
            <li data-ng-repeat="data in searchURLs"><a href="{{data.url}}" target="_blank">{{data.url}}</a></li>
        </ul>
    </div>

</div>

<div class="testContainer" data-ng-show="curlTesting == true || urlBuilderStatus >= 5">
    <h4>
        CURL test
        <label class="label-info label" data-ng-show="urlBuilderStatus == 5">TESTING</label>
        <label class="label-warning label" data-ng-show="urlBuilderStatus == 6">FAIL</label>
        <label class="label-success label" data-ng-show="urlBuilderStatus == 7">PASSED</label>
    </h4>
    <div class="list">
        <b>Total URL to be tested : {{curlTestData.TotalURLs}}</b><br />
        {{curlTestData.errors}}
        <table border="1">
            <tr>
                <td>
                    Nb Success
                </td>
                <td>
                    {{curlTestData.NbTestedURL}}
                </td>
            </tr>
            <tr>
                <td>
                    Nb 400/500 Errors
                </td>
                <td>
                    {{curlTestData['404Errors']}}
                </td>
            </tr>
        </table>
    </div>
</div>
